<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input id="id" name="id" th:value="${msg.id}" type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">消息名称：</label>
								<div class="col-sm-4">
									<input id="name" name="name" th:value="${msg.name}"
										class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">发送人：</label>
								<div class="col-sm-4">
									<input id="createBy" name="createBy" th:value="${msg.createBy}"
										class="form-control" type="text" >
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">接收人ID：</label>
								<div class="col-sm-4">
									<input id="forIds" name="forIds" th:value="${msg.forIds}"
										class="form-control" type="text">
								</div>
							</div>
							
							<div class="form-group">
							<input id="forDetails" name="forDetails" th:value="${msg.forDetails}"  type="hidden">
								<label class="col-sm-1 control-label">推送内容：</label>
									<div class="col-sm-11">
										<div class="ibox-content no-padding">
											<div id="content_sn" class="summernote"></div>
										</div>
									</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">添加时间：</label>
								<div class="col-sm-4">
									<input id="addTime" name="addTime" th:value="${msg.addTime1}"
										class="form-control" type="text">
								</div>
							</div>
							
							<div class="form-group">
								<label class="col-sm-3 control-label">状态</label>
								<div class="col-sm-4">
									<label class="radio-inline"> <input type="radio" th:field="*{msg.deleteFlag}" 
										name="deleteFlag" value="0" /> 正常
									</label> 
									<label class="radio-inline"> <input type="radio"  th:field="*{msg.deleteFlag}" 
										name="deleteFlag" value="1" /> 禁用
									</label>
								</div>
							</div>

							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/information/msg/edit.js">
	</script>
	<script type="text/javascript">
		laydate.render({
			elem: '#addTime',
			type: 'datetime',
		});
	</script>
</body>
</html>
