<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.DataDao">

    <select id="get" resultType="com.jianhuyi.information.domain.DataDO">
		select `id`,`start_time`,`status`,`base_data`,`remaind`,equipment_id from t_data where id = #{value}
	</select>

    <select id="list" resultType="com.jianhuyi.information.domain.DataDO">
        select
        `id`,user_id,`start_time`,`status`,`angles`,`lights`,`distances`,`energys`,`remaind`,`errors`,equipment_id from
        t_data
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="baseDatasDB != null and baseDatasDB != ''">and base_data = #{baseDatasDB}</if>
            <if test="remaindDB != null and remaindDB != ''">and remaind = #{remaindDB}</if>
            <if test="equipmentId != null and equipmentId != ''">and equipment_id = #{equipmentId}</if>

        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_data
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="baseDatasDB != null and baseDatasDB != ''">and base_data = #{baseDatasDB}</if>
            <if test="remaindDB != null and remaindDB != ''">and remaind = #{remaindDB}</if>
            <if test="equipmentId != null and equipmentId != ''">and equipment_id = #{equipmentId}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.jianhuyi.information.domain.DataDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_data
		(
			`start_time`,
			`status`,
			user_id,
			update_time,
			`base_data`,
			`remaind`,
			equipment_id
		)
		values
		(
			#{startTime},
			#{status},
			#{userId},
			#{updateTime},
			#{baseDatasDB},
			#{remaindDB},
			#{equipmentId}
		)
	</insert>

    <insert id="saveList">
        insert into t_data
        (
        `start_time`,
        `status`,
        user_id,
        update_time,
        `base_data`,
        `remaind`,
        equipment_id,imgs
        )
        values
        <foreach collection="dataDOList" item="item" separator=",">
            (
            #{item.startTime},
            #{item.status},
            #{item.userId},
            #{item.updateTime},
            #{item.baseDatasDB},
            #{item.remaindDB},
            #{item.equipmentId},#{item.imgs}
            )
        </foreach>

    </insert>

    <update id="update" parameterType="com.jianhuyi.information.domain.DataDO">
        update t_data
        <set>
            <if test="startTime != null">`start_time` = #{startTime},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="baseDatasDB != null">`base_data` = #{baseDatasDB},</if>
            <if test="remaindDB != null">`remaind` = #{remaindDB},</if>
            <if test="equipmentId != null">equipment_id = #{equipmentId}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from t_data where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from t_data where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>