<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.ModelartApiDao">

	<select id="get" resultType="com.jianhuyi.information.domain.ModelartApiDO">
		select `id`,`model_name`,`model_api`,`save_time`,`update_time`,`type` from t_modelart_api where id = #{value}
	</select>

	<select id="list" resultType="com.jianhuyi.information.domain.ModelartApiDO">
		select `id`,`model_name`,`model_api`,`save_time`,`update_time`,`type` from t_modelart_api
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="modelName != null and modelName != ''"> and model_name = #{modelName} </if>
		  		  <if test="modelApi != null and modelApi != ''"> and model_api = #{modelApi} </if>
		  		  <if test="saveTime != null and saveTime != ''"> and save_time = #{saveTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_modelart_api
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="modelName != null and modelName != ''"> and model_name = #{modelName} </if>
		  		  <if test="modelApi != null and modelApi != ''"> and model_api = #{modelApi} </if>
		  		  <if test="saveTime != null and saveTime != ''"> and save_time = #{saveTime} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.jianhuyi.information.domain.ModelartApiDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_modelart_api
		(
			`model_name`, 
			`model_api`, 
			`save_time`, 
			`update_time`, 
			`type`
		)
		values
		(
			#{modelName}, 
			#{modelApi}, 
			#{saveTime}, 
			#{updateTime}, 
			#{type}
		)
	</insert>
	 
	<update id="update" parameterType="com.jianhuyi.information.domain.ModelartApiDO">
		update t_modelart_api 
		<set>
			<if test="modelName != null">`model_name` = #{modelName}, </if>
			<if test="modelApi != null">`model_api` = #{modelApi}, </if>
			<if test="saveTime != null">`save_time` = #{saveTime}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="type != null">`type` = #{type}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_modelart_api where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_modelart_api where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>