<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.MsgDao">

	<select id="get" resultType="com.jianhuyi.information.domain.MsgDO">
		select `id`,`name`,`type`,`for_names`,`for_ids`,`for_type`,`for_details`,add_time,`update_time`,`delete_flag`,`create_by` from t_msg where id = #{value}
	</select>

	<select id="queryMsgList" resultType="com.jianhuyi.information.domain.MsgDO">
		SELECT tm.id, tm.add_time ,tm.`name`,tm.for_details,tm.create_by,tmu.statue,tmu.id muId FROM `t_msg_user` tmu ,t_msg tm
		where tmu.msg_id = tm.id and tmu.user_id = #{user_id}
		ORDER BY tm.add_time desc
	</select>
	<update id="updateUserMsg" parameterType="com.jianhuyi.information.domain.MsgDO">
		update t_msg_user  set statue = 0 where id = #{value}
	</update>
	

</mapper>