<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.UseJianhuyiLogDao">

    <select id="get" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		select `id`,`user_id`,status,save_time,`add_time`,`read_duration`,`outdoors_duration`,`read_distance`,`read_light`,`look_phone_duration`,`look_phone_count`,`look_tv_computer_count`,`look_tv_computer_duration`,`sit_tilt`,`use_jianhuyi_duration`,`sport_duration`,`del_flag` from t_use_jianhuyi_log where id = #{value}
	</select>


    <select id="selectAllData" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT
        equipment_id,
        user_id,
        save_time,
        `status`,
        read_duration,
        outdoors_duration,
        read_distance,
        read_light,
        look_phone_count,
        look_phone_duration,
        look_tv_computer_count,
        look_tv_computer_duration,
        sit_tilt
        FROM
        t_use_jianhuyi_log
        WHERE user_id = #{userId} and TO_DAYS(save_time) = TO_DAYS(NOW())
        ORDER BY
        save_time DESC
    </select>


    <!--某天某人的数据-->
    <select id="getByDay" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT
        equipment_id,
        user_id,
        save_time,
        `status`,
        read_duration,
        outdoors_duration,
        read_distance,
        read_light,
        look_phone_count,
        look_phone_duration,
        look_tv_computer_count,
        look_tv_computer_duration,
        sit_tilt
        FROM
        t_use_jianhuyi_log
        <where>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="date != null and date != ''">and save_time like CONCAT("%",#{date},"%")</if>
        </where>
        ORDER BY
        save_time DESC
    </select>

    <!--某天某人的震动次数-->
    <select id="getRemindByUseidByday" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT
        user_id,
        COUNT(*) remind
        FROM
        t_use_reminds
        <where>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="date != null and date != ''">and reminds_time like CONCAT("%",#{date},"%")</if>
        </where>
        group by
        substr(reminds_time, 1, 10)
    </select>

    <!--某天某人的有效使用时长-->
    <select id="getUseByUseidByday" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT
        user_id,
        COUNT(*) / 20 useJianhuyiDuration
        FROM
        t_use_time
        <where>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="date != null and date != ''">and use_time like CONCAT("%",#{date},"%")</if>
        </where>
        group by
        substr(use_time, 1, 10)
    </select>

    <select id="getUserJianHuYiYouXiao" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT
        COUNT(*) / 20 useJianhuyiDuration
        FROM
        t_use_time
        where
            user_id=#{userId}
           and DATE_FORMAT(use_time, '%Y-%m-%d') =#{createTime}


    </select>
    <select id="getUserJianHuYiYouXiaoAll" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT
        COUNT(*) / 20 useJianhuyiDuration
        FROM
        t_use_time
        where
        user_id=#{userId}
        and use_time between #{createTime} and #{endTime}


    </select>

    <!--当日阅读状态数据统计-->
    <select id="queryUserWeekRecord" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		SELECT
			id,
			user_id,
			date_format(add_time, '%Y-%m-%d') add_time,
			equipment_id,
			date_format(save_time, '%Y-%m-%d') save_time,
			SUM(IFNULL(read_duration,0.0)) allreadDuration,
			SUM(IFNULL(read_duration,0.0)) / count(*) read_duration,
			SUM(IFNULL(read_distance,0.0)) / count(*) read_distance,
			SUM(IFNULL(read_light,0.0)) / count(*) read_light,
			SUM(IFNULL(look_phone_duration,0.0)) / SUM(look_phone_count) look_phone_duration,
			SUM(IFNULL(look_tv_computer_duration,0.0)) / SUM(look_tv_computer_count) look_tv_computer_duration,
			SUM(IFNULL(sit_tilt,0.0)) / count(*) sit_tilt

		FROM
			t_use_jianhuyi_log
		where
		save_time like CONCAT('%',#{saveTime},'%')  and user_id=  #{userId} AND `status` = 1
	</select>

    <!--户外总时长-->
    <select id="queryOutdoorsDuration" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		SELECT
			SUM(outdoors_duration) outdoors_duration
		FROM
			t_use_jianhuyi_log
		where
		save_time like CONCAT('%',#{saveTime},'%')  and user_id=  #{userId} AND `status` = 2
	</select>

    <select id="getMyData" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT  * FROM  t_use_jianhuyi_log where save_time between #{startTime}
        and #{endTime} and user_id=#{userId}
    </select>

    <!--每日震动提醒次数-->
    <select id="queryRemind" resultType="com.jianhuyi.information.domain.UseRemindsDO">
		SELECT
		 `id`,`reminds_time`,`save_time`,COUNT(*) remindsNum from t_use_reminds
		where
		reminds_time like CONCAT('%',#{remindsTime},'%')  and user_id=  #{userId}
	</select>

    <!--每日使用监护仪时长-->
    <select id="queryUseTime" resultType="com.jianhuyi.information.domain.UseTimeDO">
		SELECT
		 `id`,`use_time`,`save_time`,COUNT(*) userDurtion from t_use_time
		where
		use_time like CONCAT('%',#{use_time},'%')  and user_id=  #{userId}
	</select>


    <!--周月用户获取每日阅读时长-->
    <select id="getUserReadDuration" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT user_id,date_format(save_time, '%Y-%m-%d') save_time,SUM(read_duration) allreadDuration,SUM(read_duration) / count(*) read_duration
        FROM t_use_jianhuyi_log
        WHERE
        save_time BETWEEN  #{start} and #{end} AND `status` = 1 AND user_id = #{userId}
        GROUP BY date_format(save_time, '%Y-%m-%d')
        HAVING  read_duration &lt;&gt;  0
    </select>

    <!--周月用户获取每日阅读距离-->
    <select id="getUserReaddistance" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT user_id,date_format(save_time, '%Y-%m-%d') save_time,SUM(read_duration) / count(*) read_duration
        FROM t_use_jianhuyi_log
        WHERE
        save_time BETWEEN  #{start} and #{end} AND `status` = 1 AND user_id = #{userId}
        GROUP BY date_format(save_time, '%Y-%m-%d')
        HAVING  read_duration &lt;&gt;  0
    </select>

    <!--获取某时间段的全部数据-->
    <select id="queryUserWeekRecordBetween" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		SELECT
            equipment_id,
            user_id,
            save_time,
            `status`,
            read_duration,
            outdoors_duration,
            read_distance,
            read_light,
            look_phone_count,
            look_phone_duration,
            look_tv_computer_count,
            look_tv_computer_duration,
            sit_tilt
        FROM
            t_use_jianhuyi_log
        WHERE
            user_id = #{userId}
        AND save_time BETWEEN #{start}
        AND DATE_ADD(#{end}, INTERVAL 1 DAY )
        ORDER BY
            save_time DESC
	</select>

    <!--获取某时间段内有数据的全部日期-->
    <select id="getAllDate" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		SELECT
            date_format(save_time, '%Y-%m-%d') saveTime
            FROM
            t_use_jianhuyi_log
            WHERE
                user_id = #{userId}
                AND save_time BETWEEN #{start}
                AND DATE_ADD(#{end}, INTERVAL 1 DAY )
            GROUP BY
            date_format(save_time, '%Y-%m-%d')
            ORDER BY
            save_time DESC
	</select>


    <select id="queryUserRecordBetweenSum" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		SELECT
			id,
			user_id,
			add_time,
			equipment_id,
			save_time,
			SUM(read_duration) / count(*) read_duration,
			SUM(outdoors_duration) / count(*) outdoors_duration,
			SUM(read_distance) / count(*) read_distance,
			SUM(read_light) / count(*) read_light,
			SUM(look_phone_duration) / count(*) look_phone_duration,
			SUM(look_phone_count) / count(*) look_phone_count,
			SUM(look_tv_computer_count) / count(*) look_tv_computer_count,
			SUM(look_tv_computer_duration) / count(*) look_tv_computer_duration,
			SUM(sit_tilt) / count(*) sit_tilt,
			SUM(use_jianhuyi_duration) / count(*) use_jianhuyi_duration,
			SUM(sport_duration) / count(*) sport_duration,
			`del_flag`
		FROM
			t_use_jianhuyi_log
		WHERE
			save_time BETWEEN #{start} and #{end} and user_id = #{userId}
		GROUP BY
			date_format(save_time, '%Y-%m-%d')
	</select>

    <select id="getOutdurationYear" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		SELECT
			SUM(outdoors_duration) outdoors_duration
		FROM
			t_use_jianhuyi_log
		where
		save_time BETWEEN #{start} and #{end}  and user_id=  #{userId} AND `status` = 2

		GROUP BY
			date_format(save_time, '%Y-%m-%d')

	</select>


    <select id="getUseJianhuyiTimeYear" resultType="com.jianhuyi.information.domain.UseTimeDO">
		SELECT
		 `id`,`use_time`,`save_time`,COUNT(*) userDurtion from t_use_time
		where
		use_time  BETWEEN #{start} and #{end} and user_id=  #{userId}

		GROUP BY
			date_format(use_time, '%Y-%m-%d')
	</select>

    <select id="getRemindYear" resultType="com.jianhuyi.information.domain.UseRemindsDO">
		SELECT
		 `id`,`reminds_time`,`save_time`,COUNT(*) remindsNum from t_use_reminds
		where
		reminds_time   BETWEEN #{start} and #{end} and user_id=  #{userId}

		GROUP BY
			date_format(reminds_time, '%Y-%m-%d')
	</select>


    <select id="list" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        select
        `id`,`user_id`,save_time,`add_time`,`read_duration`,`outdoors_duration`,`read_distance`,`read_light`,`look_phone_duration`,`look_phone_count`,`look_tv_computer_count`,`look_tv_computer_duration`,`sit_tilt`,`use_jianhuyi_duration`,`sport_duration`,`del_flag`
        from t_use_jianhuyi_log
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="addTime != null and addTime != ''">and add_time = #{addTime}</if>
            <if test="readDuration != null and readDuration != ''">and read_duration = #{readDuration}</if>
            <if test="outdoorsDuration != null and outdoorsDuration != ''">and outdoors_duration = #{outdoorsDuration}
            </if>
            <if test="readDistance != null and readDistance != ''">and read_distance = #{readDistance}</if>
            <if test="readLight != null and readLight != ''">and read_light = #{readLight}</if>
            <if test="lookPhoneDuration != null and lookPhoneDuration != ''">and look_phone_duration =
                #{lookPhoneDuration}
            </if>
            <if test="lookTvComputerDuration != null and lookTvComputerDuration != ''">and look_tv_computer_duration =
                #{lookTvComputerDuration}
            </if>
            <if test="sitTilt != null and sitTilt != ''">and sit_tilt = #{sitTilt}</if>
            <if test="useJianhuyiDuration != null and useJianhuyiDuration != ''">and use_jianhuyi_duration =
                #{useJianhuyiDuration}
            </if>
            <if test="sportDuration != null and sportDuration != ''">and sport_duration = #{sportDuration}</if>
            <if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_use_jianhuyi_log
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="addTime != null and addTime != ''">and add_time = #{addTime}</if>
            <if test="readDuration != null and readDuration != ''">and read_duration = #{readDuration}</if>
            <if test="outdoorsDuration != null and outdoorsDuration != ''">and outdoors_duration = #{outdoorsDuration}
            </if>
            <if test="readDistance != null and readDistance != ''">and read_distance = #{readDistance}</if>
            <if test="readLight != null and readLight != ''">and read_light = #{readLight}</if>
            <if test="lookPhoneDuration != null and lookPhoneDuration != ''">and look_phone_duration =
                #{lookPhoneDuration}
            </if>
            <if test="lookTvComputerDuration != null and lookTvComputerDuration != ''">and look_tv_computer_duration =
                #{lookTvComputerDuration}
            </if>
            <if test="sitTilt != null and sitTilt != ''">and sit_tilt = #{sitTilt}</if>
            <if test="useJianhuyiDuration != null and useJianhuyiDuration != ''">and use_jianhuyi_duration =
                #{useJianhuyiDuration}
            </if>
            <if test="sportDuration != null and sportDuration != ''">and sport_duration = #{sportDuration}</if>
            <if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.jianhuyi.information.domain.UseJianhuyiLogDO" useGeneratedKeys="true"
            keyProperty="id">
		insert into t_use_jianhuyi_log
		(
			`user_id`, 
			`add_time`, 
			`read_duration`, 
			`outdoors_duration`, 
			`read_distance`, 
			`read_light`, 
			`look_phone_duration`,
			`look_phone_count`,
			`look_tv_computer_duration`,
			`look_tv_computer_count`,
			`sit_tilt`, 
			`use_jianhuyi_duration`, 
			`sport_duration`,

			`del_flag`,
			save_time,
			equipment_id,
			status,
			remind,
			upload_id
		)
		values
		(
			#{userId}, 
			#{addTime}, 
			#{readDuration}, 
			#{outdoorsDuration}, 
			#{readDistance}, 
			#{readLight}, 
			#{lookPhoneDuration},
			#{lookPhoneCount},
			#{lookTvComputerDuration},
			#{lookTvComputerCount},
			#{sitTilt}, 
			#{useJianhuyiDuration}, 
			#{sportDuration}, 
			#{delFlag},
			#{saveTime},
			#{equipmentId},
			#{status},
			#{remind},
			#{uploadId}
		)
	</insert>

    <insert id="saveList">
        insert into t_use_jianhuyi_log
        (
        `user_id`,
        `add_time`,
        `read_duration`,
        `outdoors_duration`,
        `read_distance`,
        `read_light`,
        `look_phone_duration`,
        `look_phone_count`,
        `look_tv_computer_duration`,
        `look_tv_computer_count`,
        `sit_tilt`,
        `use_jianhuyi_duration`,
        `sport_duration`,
        `del_flag`,
        save_time,
        equipment_id,
        status,
        remind,
        upload_id,
        type
        )
        values
        <foreach collection="useJianhuyiLogDOList" item="item" separator=",">
            (
            #{item.userId},
            #{item.addTime},
            #{item.readDuration},
            #{item.outdoorsDuration},
            #{item.readDistance},
            #{item.readLight},
            #{item.lookPhoneDuration},
            #{item.lookPhoneCount},
            #{item.lookTvComputerDuration},
            #{item.lookTvComputerCount},
            #{item.sitTilt},
            #{item.useJianhuyiDuration},
            #{item.sportDuration},
            #{item.delFlag},
            #{item.saveTime},
            #{item.equipmentId},
            #{item.status},
            #{item.remind},
            #{item.uploadId},
            #{item.type}
            )
        </foreach>
    </insert>


    <update id="update" parameterType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        update t_use_jianhuyi_log
        <set>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="addTime != null">`add_time` = #{addTime},</if>
            <if test="readDuration != null">`read_duration` = #{readDuration},</if>
            <if test="outdoorsDuration != null">`outdoors_duration` = #{outdoorsDuration},</if>
            <if test="readDistance != null">`read_distance` = #{readDistance},</if>
            <if test="readLight != null">`read_light` = #{readLight},</if>
            <if test="lookPhoneDuration != null">`look_phone_duration` = #{lookPhoneDuration},</if>
            <if test="lookTvComputerDuration != null">`look_tv_computer_duration` = #{lookTvComputerDuration},</if>
            <if test="sitTilt != null">`sit_tilt` = #{sitTilt},</if>
            <if test="useJianhuyiDuration != null">`use_jianhuyi_duration` = #{useJianhuyiDuration},</if>
            <if test="sportDuration != null">`sport_duration` = #{sportDuration},</if>
            <if test="delFlag != null">`del_flag` = #{delFlag}</if>
        </set>
        where id = #{id}
    </update>


    <select id="selectPersonAndDate" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT
        zo.user_id,
        zo.save_time,
        zo.add_time,
        zo.save_time1,
        zo.upload_id,
        zo.equipment_id,
        tur.remindsNum,
        tut.userDurtion
        FROM
        (
        SELECT
        tuj.user_id,
        DATE_FORMAT(tuj.save_time, '%Y-%m-%d') save_time,
        tuj.save_time save_time1,
        upload_id,equipment_id,add_time
        FROM
        t_use_jianhuyi_log tuj
        GROUP BY
        DATE_FORMAT(tuj.save_time, '%Y-%m-%d'),
        tuj.user_id
        ORDER BY
        substr(tuj.save_time, 1, 10) DESC
        ) zo
        LEFT JOIN (
        SELECT
        upload_id,
        user_id,
        date_format(reminds_time, '%Y-%m-%d') reminds_time,
        COUNT(*) remindsNum
        FROM
        t_use_reminds
        GROUP BY
        substr(reminds_time, 1, 10),
        user_id
        ) tur ON zo.user_id = tur.user_id
        AND zo.save_time = tur.reminds_time
        LEFT JOIN (
        SELECT
        `id`,
        date_format(use_time, '%Y-%m-%d') use_time,
        `save_time`,
        user_id,
        upload_id,
        <!--/20 = *180/60/60-->
        COUNT(*) /20 userDurtion
        FROM
        t_use_time
        GROUP BY
        substr(use_time, 1, 10),
        user_id
        ) tut ON zo.user_id = tut.user_id
        AND zo.save_time = tut.use_time
        <where>
            <if test="uploadId != null and uploadId != ''">and zo.upload_id = #{uploadId}</if>
            <if test="userId != null and userId != ''">and zo.user_id = #{userId}</if>

            <if test="startTime != null and startTime != ''">and zo.save_time &gt;= #{startTime}</if>
            <if test="endTime != null and endTime != ''">AND zo.save_time &lt;= #{endTime}
            </if>

            <if test="week != null and week != ''">and YEARWEEK(date_format(zo.save_time, '%Y-%m-%d')) =
                YEARWEEK(now())
            </if>
            <if test="month != null and month != ''">and DATE_FORMAT(zo.save_time, '%Y%m') =
                DATE_FORMAT(CURDATE(),'%Y%m')
            </if>
            <if test="quarter != null and quarter != ''">and QUARTER(zo.save_time)=QUARTER(now())</if>
            <if test="year != null and year != ''">and YEAR(zo.save_time)=YEAR(NOW())</if>
        </where>
        ORDER BY
        zo.add_time DESC
    </select>

    <select id="selectDataEvery" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT
        equipment_id,
        user_id,
        save_time,
        `status`,
        read_duration,
        outdoors_duration,
        read_distance,
        read_light,
        look_phone_count,
        look_phone_duration,
        look_tv_computer_count,
        look_tv_computer_duration,
        sit_tilt
        FROM
        (
        SELECT
        equipment_id,
        user_id,
        DATE_FORMAT(save_time, '%Y-%m-%d') save_time1,
        save_time,
        `status`,
        read_duration,
        outdoors_duration,
        read_distance,
        read_light,
        look_phone_count,
        look_phone_duration,
        look_tv_computer_count,
        look_tv_computer_duration,
        sit_tilt
        FROM
        t_use_jianhuyi_log
        ) a
        <where>
            <if test="uploadId != null and uploadId != ''">and upload_id = #{uploadId}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="startTime != null and startTime != ''">and a.save_time1 &gt;= #{startTime}</if>
            <if test="endTime != null and endTime != ''">AND a.save_time1 &lt;= #{endTime}
            </if>
            <if test="week != null and week != ''">and YEARWEEK(date_format(a.save_time1, '%Y-%m-%d')) = YEARWEEK(now())
            </if>
            <if test="month != null and month != ''">and DATE_FORMAT(a.save_time1, '%Y%m') = DATE_FORMAT(CURDATE(),
                '%Y%m')
            </if>
            <if test="quarter != null and quarter != ''">and QUARTER(a.save_time1)=QUARTER(now())</if>
            <if test="year != null and year != ''">and YEAR(a.save_time1)=YEAR(NOW())</if>
        </where>
        ORDER BY
        save_time DESC

    </select>


    <select id="getMaxDate" resultType="date">
        select max(add_time) from t_use_jianhuyi_log where user_id=#{userId}
    </select>

    <select id="getNearData" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        select * from t_use_jianhuyi_log where user_id=#{userId}
        and add_time=#{date}
    </select>
</mapper>