<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.UserTaskLinshiDao">
    <cache eviction="LRU" flushInterval="600000" size="1024"/>
    <select id="get" resultType="com.jianhuyi.information.domain.UserTaskLinshiDO">
		select `id`,`user_id`,`eye_rate`,score,`avg_read`,`avg_out`,`avg_read_distance`,`avg_look_phone`,`avg_look_tv`,`avg_sit_tilt`,`effective_use_time`,`avg_light`,`create_time` from t_user_task_linshi where id = #{value}
	</select>

    <select id="list" resultType="com.jianhuyi.information.domain.UserTaskLinshiDO">
        select
        `id`,`user_id`,`eye_rate`,`avg_read`,`avg_out`,`avg_read_distance`,`avg_look_phone`,`avg_look_tv`,`avg_sit_tilt`,`effective_use_time`,`avg_light`,`create_time`,score,hourtime
        from t_user_task_linshi
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="giftId != null and giftId != ''">and gift_id = #{giftId}</if>
            <if test="taskTime != null and taskTime != ''">and task_time = #{taskTime}</if>
            <if test="eyeRate != null and eyeRate != ''">and eye_rate = #{eyeRate}</if>
            <if test="avgRead != null and avgRead != ''">and avg_read = #{avgRead}</if>
            <if test="avgOut != null and avgOut != ''">and avg_out = #{avgOut}</if>
            <if test="avgReadDistance != null and avgReadDistance != ''">and avg_read_distance = #{avgReadDistance}</if>
            <if test="avgLookPhone != null and avgLookPhone != ''">and avg_look_phone = #{avgLookPhone}</if>
            <if test="avgLookTv != null and avgLookTv != ''">and avg_look_tv = #{avgLookTv}</if>
            <if test="avgSitTilt != null and avgSitTilt != ''">and avg_sit_tilt = #{avgSitTilt}</if>
            <if test="effectiveUseTime != null and effectiveUseTime != ''">and effective_use_time =
                #{effectiveUseTime}
            </if>
            <if test="avgLight != null and avgLight != ''">and avg_light = #{avgLight}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="taskId != null and taskId != ''">and task_id = #{taskId}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_user_task_linshi
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="giftId != null and giftId != ''">and gift_id = #{giftId}</if>
            <if test="taskTime != null and taskTime != ''">and task_time = #{taskTime}</if>
            <if test="eyeRate != null and eyeRate != ''">and eye_rate = #{eyeRate}</if>
            <if test="avgRead != null and avgRead != ''">and avg_read = #{avgRead}</if>
            <if test="avgOut != null and avgOut != ''">and avg_out = #{avgOut}</if>
            <if test="avgReadDistance != null and avgReadDistance != ''">and avg_read_distance = #{avgReadDistance}</if>
            <if test="avgLookPhone != null and avgLookPhone != ''">and avg_look_phone = #{avgLookPhone}</if>
            <if test="avgLookTv != null and avgLookTv != ''">and avg_look_tv = #{avgLookTv}</if>
            <if test="avgSitTilt != null and avgSitTilt != ''">and avg_sit_tilt = #{avgSitTilt}</if>
            <if test="effectiveUseTime != null and effectiveUseTime != ''">and effective_use_time =
                #{effectiveUseTime}
            </if>
            <if test="avgLight != null and avgLight != ''">and avg_light = #{avgLight}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.jianhuyi.information.domain.UserTaskLinshiDO" useGeneratedKeys="true"
            keyProperty="id">
		insert into t_user_task_linshi
		(
			`user_id`,
			`eye_rate`,
			`avg_read`,
			`avg_out`,
			`avg_read_distance`,
			`avg_look_phone`,
			`avg_look_tv`,
			`avg_sit_tilt`,
			`effective_use_time`,
			`avg_light`,
			`create_time`,
			`score`,
			`hourtime`,
			`iffinish`,
			`task_id`
		)
		values
		(
			#{userId},
			#{eyeRate},
			#{avgRead},
			#{avgOut},
			#{avgReadDistance},
			#{avgLookPhone},
			#{avgLookTv},
			#{avgSitTilt},
			#{effectiveUseTime},
			#{avgLight},
			#{createTime},
			#{score},
			#{hourtime},
			#{iffinish},
			#{taskId}
		)
	</insert>

    <update id="update" parameterType="com.jianhuyi.information.domain.UserTaskLinshiDO">
        update t_user_task_linshi
        <set>
            <if test="userId != null">`user_id` = #{userId}, </if>
            <if test="eyeRate != null">`eye_rate` = #{eyeRate}, </if>
            <if test="avgRead != null">`avg_read` = #{avgRead}, </if>
            <if test="avgOut != null">`avg_out` = #{avgOut}, </if>
            <if test="avgReadDistance != null">`avg_read_distance` = #{avgReadDistance}, </if>
            <if test="avgLookPhone != null">`avg_look_phone` = #{avgLookPhone}, </if>
            <if test="avgLookTv != null">`avg_look_tv` = #{avgLookTv}, </if>
            <if test="avgSitTilt != null">`avg_sit_tilt` = #{avgSitTilt}, </if>
            <if test="effectiveUseTime != null">`effective_use_time` = #{effectiveUseTime}, </if>
            <if test="avgLight != null">`avg_light` = #{avgLight}, </if>
            <if test="createTime != null">`create_time` = #{createTime}, </if>
            <if test="score != null">`score` = #{score}, </if>
            <if test="hourtime != null">`hourtime` = #{hourtime}, </if>
            <if test="iffinish != null">`iffinish` = #{iffinish}, </if>
            <if test="taskId != null">`task_id` = #{taskId}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from t_user_task_linshi where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from t_user_task_linshi where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getTotalScore" resultType="com.jianhuyi.information.domain.UserTaskLinshiDO">
        select *    from t_user_task_linshi where  task_id=#{taskId} order by create_time asc
    </select>

    <select id="getRecentlyDate" resultType="com.jianhuyi.information.domain.UserTaskLinshiDO">
        select * from t_user_task_linshi where `user_id` = #{userId}

       and task_id=#{taskId}
        order by create_time desc limit 1
    </select>

    <update id="updateCurrentDay" parameterType="com.jianhuyi.information.domain.UserTaskLinshiDO">
        update t_user_task_linshi
        <set>

            <if test="eyeRate != null">`eye_rate` = #{eyeRate}, </if>
            <if test="avgRead != null">`avg_read` = #{avgRead}, </if>
            <if test="avgOut != null">`avg_out` = #{avgOut}, </if>
            <if test="avgReadDistance != null">`avg_read_distance` = #{avgReadDistance}, </if>
            <if test="avgLookPhone != null">`avg_look_phone` = #{avgLookPhone}, </if>
            <if test="avgLookTv != null">`avg_look_tv` = #{avgLookTv}, </if>
            <if test="avgSitTilt != null">`avg_sit_tilt` = #{avgSitTilt}, </if>
            <if test="effectiveUseTime != null">`effective_use_time` = #{effectiveUseTime}, </if>
            <if test="avgLight != null">`avg_light` = #{avgLight}, </if>

            <if test="score != null">`score` = #{score}, </if>
            <if test="hourtime != null">`hourtime` = #{hourtime}, </if>
            <if test="iffinish != null">`iffinish` = #{iffinish} </if>

        </set>
        where `user_id` = #{userId} and `task_id` = #{taskId} and `create_time` = #{createTime}
    </update>

    <update id="updateScore" parameterType="com.jianhuyi.information.domain.UserTaskLinshiDO">
        update t_user_task_linshi
        set

            score=#{score}

        where `user_id` = #{userId} and `task_id` = #{taskId} and `create_time` = #{createTime}
    </update>
    
    


</mapper>