<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.UserTaskDao">
    <cache eviction="LRU" flushInterval="600000" size="1024" readOnly="true"/>
    <select id="get" resultType="com.jianhuyi.information.domain.UserTaskDO">
        SELECT
	*
FROM
	t_user_task
WHERE
	id = #{value}
	</select>

    <select id="list" resultType="com.jianhuyi.information.domain.UserTaskDO">
        select
        `id`,`user_id`,`gift_id`,pcorapp,`task_time`,addready_score,`eye_rate`,`avg_read`,`avg_out`,`avg_read_distance`,`avg_look_phone`,`avg_look_tv`,`avg_sit_tilt`,`effective_use_time`,`finish_status`,`finish_day`,`unfinished_day`,`avg_light`,`create_time`,type,task_type
        from t_user_task
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="giftId != null and giftId != ''">and gift_id = #{giftId}</if>
            <if test="taskTime != null and taskTime != ''">and task_time = #{taskTime}</if>
            <if test="eyeRate != null and eyeRate != ''">and eye_rate = #{eyeRate}</if>
            <if test="avgRead != null and avgRead != ''">and avg_read = #{avgRead}</if>
            <if test="avgOut != null and avgOut != ''">and avg_out = #{avgOut}</if>
            <if test="avgReadDistance != null and avgReadDistance != ''">and avg_read_distance = #{avgReadDistance}</if>
            <if test="avgLookPhone != null and avgLookPhone != ''">and avg_look_phone = #{avgLookPhone}</if>
            <if test="avgLookTv != null and avgLookTv != ''">and avg_look_tv = #{avgLookTv}</if>
            <if test="avgSitTilt != null and avgSitTilt != ''">and avg_sit_tilt = #{avgSitTilt}</if>
            <if test="effectiveUseTime != null and effectiveUseTime != ''">and effective_use_time =
                #{effectiveUseTime}
            </if>
            <if test="finishStatus != null and finishStatus != ''">and finish_status = #{finishStatus}</if>
            <if test="finishDay != null and finishDay != ''">and finish_day = #{finishDay}</if>
            <if test="unfinishedDay != null and unfinishedDay != ''">and unfinished_day = #{unfinishedDay}</if>
            <if test="avgLight != null and avgLight != ''">and avg_light = #{avgLight}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="type != null and type != ''">and type = #{type}</if>

            <if test="taskType != null and taskType != ''">and task_type = #{taskType}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>



    <select id="count" resultType="int">
        select count(*) from t_user_task
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="giftId != null and giftId != ''">and gift_id = #{giftId}</if>
            <if test="taskTime != null and taskTime != ''">and task_time = #{taskTime}</if>
            <if test="eyeRate != null and eyeRate != ''">and eye_rate = #{eyeRate}</if>
            <if test="avgRead != null and avgRead != ''">and avg_read = #{avgRead}</if>
            <if test="avgOut != null and avgOut != ''">and avg_out = #{avgOut}</if>
            <if test="avgReadDistance != null and avgReadDistance != ''">and avg_read_distance = #{avgReadDistance}</if>
            <if test="avgLookPhone != null and avgLookPhone != ''">and avg_look_phone = #{avgLookPhone}</if>
            <if test="avgLookTv != null and avgLookTv != ''">and avg_look_tv = #{avgLookTv}</if>
            <if test="avgSitTilt != null and avgSitTilt != ''">and avg_sit_tilt = #{avgSitTilt}</if>
            <if test="effectiveUseTime != null and effectiveUseTime != ''">and effective_use_time =
                #{effectiveUseTime}
            </if>
            <if test="finishStatus != null and finishStatus != ''">and finish_status = #{finishStatus}</if>
            <if test="finishDay != null and finishDay != ''">and finish_day = #{finishDay}</if>
            <if test="unfinishedDay != null and unfinishedDay != ''">and unfinished_day = #{unfinishedDay}</if>
            <if test="avgLight != null and avgLight != ''">and avg_light = #{avgLight}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="type != null and type != ''">and type = #{type}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.jianhuyi.information.domain.UserTaskDO" useGeneratedKeys="true"
            keyProperty="id">

        insert into t_user_task
		(
			`user_id`,
			`task_time`,

			`avg_read`,
			`avg_out`,
			`avg_read_distance`,
			`avg_look_phone`,
			`avg_look_tv`,
			`avg_sit_tilt`,
			`effective_use_time`,

			`finish_day`,
			`unfinished_day`,
			`avg_light`,
			`create_time`,
			`type`,

			`avg_read_result`,
			`avg_read_score`,
			`avg_read_score_result`,
			`avg_out_result`,
			`avg_out_score`,
			`avg_out_score_result`,
			`avg_read_distance_result`,
			`avg_read_distance_score`,
			`avg_read_distance_score_result`,
			`avg_look_phone_result`,
			`avg_look_phone_score`,
			`avg_look_phone_score_result`,
			`avg_look_tv_result`,
			`avg_look_score`,
			`avg_look_score_result`,
			`avg_sit_tilt_result`,
			`avg_sit_tilt_score`,
			`avg_sit_tilt_score_result`,
			`effective_use_time_result`,
			`effective_use_time_score`,
			`effective_use_time_score_result`,
			`avg_light_result`,
			`avg_light_score`,
			`avg_light_score_result`,
			`count_grade`,
			`gift`,
			 start_time,
			 task_type,
			`lastavgRead`,
            `lastavgOut`,
            `lastavgReadDistance`,
            `lastavgLookTv`,
            `lastavgSitTilt`,
            `lasteffectiveUseTime`,
            `lastavgLight`,
            `lastavgLookPhone`,
              pcorapp
		)
		values
		(
			#{userId},
			#{taskTime},

			#{avgRead},
			#{avgOut},
			#{avgReadDistance},
			#{avgLookPhone},
			#{avgLookTv},
			#{avgSitTilt},
			#{effectiveUseTime},

			#{finishDay},
			#{unfinishedDay},
			#{avgLight},
			#{createTime},
			#{type},

			#{avgReadResult},
			#{avgReadScore},
			#{avgReadScoreResult},
			#{avgOutResult},
			#{avgOutScore},
			#{avgOutScoreResult},
			#{avgReadDistanceResult},
			#{avgReadDistanceScore},
			#{avgReadDistanceScoreResult},
			#{avgLookPhoneResult},
			#{avgLookPhoneScore},
			#{avgLookPhoneScoreResult},
			#{avgLookTvResult},
			#{avgLookScore},
			#{avgLookScoreResult},
			#{avgSitTiltResult},
			#{avgSitTiltScore},
			#{avgSitTiltScoreResult},
			#{effectiveUseTimeResult},
			#{effectiveUseTimeScore},
			#{effectiveUseTimeScoreResult},
			#{avgLightResult},
			#{avgLightScore},
			#{avgLightScoreResult},
			#{countGrade},
			#{gift},
			#{startTime},
			#{taskType},
			#{lastavgRead},
            #{lastavgOut},
            #{lastavgReadDistance},
            #{lastavgLookTv},
            #{lastavgSitTilt},
            #{lasteffectiveUseTime},
            #{lastavgLight},
            #{lastavgLookPhone},
            #{pcorapp}
		)
	</insert>

    <update id="update" parameterType="com.jianhuyi.information.domain.UserTaskDO">
        update t_user_task
        <set>
            <if test="userId != null">`user_id` = #{userId}, </if>
            <if test="taskTime != null">`task_time` = #{taskTime}, </if>
            <if test="avgRead != null">`avg_read` = #{avgRead}, </if>
            <if test="avgOut != null">`avg_out` = #{avgOut}, </if>
            <if test="avgReadDistance != null">`avg_read_distance` = #{avgReadDistance}, </if>
            <if test="avgLookPhone != null">`avg_look_phone` = #{avgLookPhone}, </if>
            <if test="avgLookTv != null">`avg_look_tv` = #{avgLookTv}, </if>
            <if test="avgSitTilt != null">`avg_sit_tilt` = #{avgSitTilt}, </if>
            <if test="effectiveUseTime != null">`effective_use_time` = #{effectiveUseTime}, </if>
            <if test="avgLight != null">`avg_light` = #{avgLight}, </if>
            <if test="createTime != null">`create_time` = #{createTime}, </if>
            <if test="type != null">`type` = #{type}, </if>
            <if test="avgReadResult != null">`avg_read_result` = #{avgReadResult}, </if>
            <if test="avgReadScore != null">`avg_read_score` = #{avgReadScore}, </if>
            <if test="avgReadScoreResult != null">`avg_read_score_result` = #{avgReadScoreResult}, </if>
            <if test="avgOutResult != null">`avg_out_result` = #{avgOutResult}, </if>
            <if test="avgOutScore != null">`avg_out_score` = #{avgOutScore}, </if>
            <if test="avgOutScoreResult != null">`avg_out_score_result` = #{avgOutScoreResult}, </if>
            <if test="avgReadDistanceResult != null">`avg_read_distance_result` = #{avgReadDistanceResult}, </if>
            <if test="avgReadDistanceScore != null">`avg_read_distance_score` = #{avgReadDistanceScore}, </if>
            <if test="avgReadDistanceScoreResult != null">`avg_read_distance_score_result` = #{avgReadDistanceScoreResult}, </if>
            <if test="avgLookPhoneResult != null">`avg_look_phone_result` = #{avgLookPhoneResult}, </if>
            <if test="avgLookPhoneScore != null">`avg_look_phone_score` = #{avgLookPhoneScore}, </if>
            <if test="avgLookPhoneScoreResult != null">`avg_look_phone_score_result` = #{avgLookPhoneScoreResult}, </if>
            <if test="avgLookTvResult != null">`avg_look_tv_result` = #{avgLookTvResult}, </if>
            <if test="avgLookScore != null">`avg_look_score` = #{avgLookScore}, </if>
            <if test="avgLookScoreResult != null">`avg_look_score_result` = #{avgLookScoreResult}, </if>
            <if test="avgSitTiltResult != null">`avg_sit_tilt_result` = #{avgSitTiltResult}, </if>
            <if test="avgSitTiltScore != null">`avg_sit_tilt_score` = #{avgSitTiltScore}, </if>
            <if test="avgSitTiltScoreResult != null">`avg_sit_tilt_score_result` = #{avgSitTiltScoreResult}, </if>
            <if test="effectiveUseTimeResult != null">`effective_use_time_result` = #{effectiveUseTimeResult}, </if>
            <if test="effectiveUseTimeScore != null">`effective_use_time_score` = #{effectiveUseTimeScore}, </if>
            <if test="effectiveUseTimeScoreResult != null">`effective_use_time_score_result` = #{effectiveUseTimeScoreResult}, </if>
            <if test="avgLightResult != null">`avg_light_result` = #{avgLightResult}, </if>
            <if test="avgLightScore != null">`avg_light_score` = #{avgLightScore}, </if>
            <if test="avgLightScoreResult != null">`avg_light_score_result` = #{avgLightScoreResult}, </if>
            <if test="countGrade != null">`count_grade` = #{countGrade}, </if>
            <if test="gift != null">`gift` = #{gift},</if>
            <if test="totalScore != null">`total_score` = #{totalScore}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from t_user_task where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from t_user_task where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getRecentlyTask" resultType="com.jianhuyi.information.domain.UserTaskDO">
        SELECT
        *
        FROM
        (
        SELECT
        `avg_read_result`,
        `avg_out_result`,
        `avg_read_distance_result`,
        `avg_look_phone_result`,
        `avg_look_tv_result`,
        `avg_sit_tilt_result`,
        `effective_use_time_result`,
        `avg_light_result`,
        date_add(
        start_time,
        INTERVAL task_time DAY
        ) sdate
        FROM
        t_user_task
        WHERE
        user_id = #{userId}
        and count_grade is not null
        ) rtask
        WHERE
        sdate &lt; now()
        ORDER BY
        sdate DESC
        LIMIT 1
    </select>

    <select id="getAllReadyFinishedTask" resultType="com.jianhuyi.information.domain.UserTaskDO">



        SELECT
        *
        FROM
        (
        SELECT
         id,
         task_time,
         create_time,
         start_time,
         count_grade,
         total_score,
        date_add(
        start_time,
        INTERVAL task_time DAY
        ) sdate
        FROM
        t_user_task
        WHERE
        user_id = #{userId}
        and type=#{type}
        and count_grade is not null
        ) rtask
        WHERE
        sdate &lt; now()
        ORDER BY
        sdate DESC
    </select>

    <select id="getCurrentTask" resultType="com.jianhuyi.information.domain.UserTaskDO">
        SELECT
        *
        FROM
        (
        SELECT
         id,
         task_time,
         create_time,
         start_time,
         count_grade,
         total_score,
        date_add(
        start_time,
        INTERVAL task_time DAY
        ) sdate
        FROM
        t_user_task
        WHERE
        user_id = #{userId}
        and type=#{type}
   <!--     and count_grade is not null   -->
        ) rtask
        WHERE
        sdate &gt; now()
        ORDER BY
        sdate DESC
    </select>
    
    <select id="getCurrentTaskN" resultType="com.jianhuyi.information.domain.UserTaskDO">
        SELECT
        *
        FROM
        (
        SELECT
        id,
        task_time,
        create_time,
        start_time,
        count_grade,
        total_score,
        date_add(
        start_time,
        INTERVAL task_time DAY
        ) sdate
        FROM
        t_user_task
        WHERE
        user_id = #{userId}
        and task_type = #{taskType}
        ) rtask
        WHERE
        sdate &gt; now()
        ORDER BY
        sdate DESC
        LIMIT 1
    </select>
    
    <select id="getCurrentTaskNT" resultType="com.jianhuyi.information.domain.UserTaskDO">
        SELECT
        *
        FROM
        (
        SELECT
        DISTINCT
        task_time,
        start_time,
        date_add(
        start_time,
        INTERVAL task_time DAY
        ) sdate
        FROM
        t_user_task
        WHERE
        pcorapp = #{pcorapp}
        and task_type = #{taskType}
        ) rtask
        WHERE
        sdate &gt; now()
        ORDER BY
        sdate DESC
        LIMIT 1
    </select>
    
    <select id="getBatchRenwu" resultType="com.jianhuyi.information.domain.UserTaskDO">
        select DISTINCT pcorapp,task_time,task_type,start_time from  t_user_task where   pcorapp =#{pcorapp}
        and task_type =  1
    </select>
    
    <select id="getRenwuDetail" resultType="com.jianhuyi.information.domain.UserTaskDO">
        select id,user_id from  t_user_task where   pcorapp =#{pcorapp}
                and task_type =  1 and start_time=#{startTime} and task_time=#{taskTime}
    </select>

</mapper>