<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.UseRemindsDao">

    <select id="get" resultType="com.jianhuyi.information.domain.UseRemindsDO">
		select `id`,`reminds_time`,`type`,`save_time`,user_id,equipment_id from t_use_reminds where id = #{value}
	</select>

    <select id="list" resultType="com.jianhuyi.information.domain.UseRemindsDO">
        select `id`,`reminds_time`,`type`,`save_time`,COUNT(*) remindsNum from t_use_reminds
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="remindsTime != null and remindsTime != ''">and reminds_time = #{remindsTime}</if>
            <if test="saveTime != null and saveTime != ''">and save_time = #{saveTime}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="equipmentId != null and equipmentId != ''">and equipment_id = #{equipmentId}</if>
            and TO_DAYS(reminds_time) = TO_DAYS(NOW())
        </where>
        GROUP BY
        date_format(reminds_time, '%Y-%m-%d')

    </select>


    <select id="getTodayReminds" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT
            user_id,
            COUNT(*) remind
        FROM
            t_use_reminds
        WHERE
            user_id = #{userId} and TO_DAYS(reminds_time) = TO_DAYS(NOW())
        GROUP BY
            substr(reminds_time, 1, 10)
    </select>

    <select id="count" resultType="int">
        select count(*) from t_use_reminds
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="remindsTime != null and remindsTime != ''">and reminds_time = #{remindsTime}</if>
            <if test="saveTime != null and saveTime != ''">and save_time = #{saveTime}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="equipmentId != null and equipmentId != ''">and equipment_id = #{equipmentId}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.jianhuyi.information.domain.UseRemindsDO" useGeneratedKeys="true"
            keyProperty="id">
		insert into t_use_reminds
		(
			`reminds_time`, 
			`save_time`,
			user_id,
			equipment_id,
			upload_id
		)
		values
		(
			#{remindsTime}, 
			#{saveTime},
			#{userId},
			#{equipmentId},
			#{uploadId}
		)
	</insert>

    <insert id="saveList">
        insert into t_use_reminds
        (
        `reminds_time`,
        `save_time`,
        user_id,
        equipment_id,
        upload_id,
        `type`
        )
        values
        <foreach collection="useRemindsDOList" item="item" separator=",">
            (
            #{item.remindsTime},
            #{item.saveTime},
            #{item.userId},
            #{item.equipmentId},
            #{item.uploadId},
            #{item.type}
            )
        </foreach>
    </insert>


    <update id="update" parameterType="com.jianhuyi.information.domain.UseRemindsDO">
        update t_use_reminds
        <set>
            <if test="remindsTime != null">`reminds_time` = #{remindsTime},</if>
            <if test="saveTime != null">`save_time` = #{saveTime},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="type != null">type = #{type}</if>
        </set>
        where id = #{id}
    </update>


    <delete id="remove">
		delete from t_use_reminds where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from t_use_reminds where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>