<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.DataDao">

    <select id="get" resultType="com.jianhuyi.information.domain.DataDO">
		select `id`,`start_time`,`status`,`base_data`,`remaind`,equipment_id,update_time,imgs from t_data where id = #{value}
	</select>

    <select id="list" resultType="com.jianhuyi.information.domain.DataDO">
        select `id`,`start_time`,`status`,`base_data`,`remaind`,equipment_id,update_time,imgs from t_data
        <where>

            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="startTime != null and startTime != ''">and start_time &gt;= date_sub(#{startTime}, INTERVAL - 0
                DAY) AND start_time &lt; date_sub(#{startTime}, INTERVAL - 1 DAY)
            </if>
            <if test="saveTime != null and saveTime != ''">and start_time &gt;= date_sub(#{saveTime}, INTERVAL - 0 DAY)
                AND start_time &lt; date_sub(#{saveTime}, INTERVAL - 1 DAY)
            </if>

            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="baseData != null and baseData != ''">and base_data = #{baseData}</if>
            <if test="remaind != null and remaind != ''">and remaind = #{remaind}</if>
            <if test="equipmentId != null and equipmentId != ''">and equipment_id = #{equipmentId}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>
    
    
    <select id="listDataDO" resultType="com.jianhuyi.information.domain.DataDO">
        SELECT * from t_data where user_id=#{userId}  and DATE_FORMAT(start_time,'%Y-%m-%d')=#{saveTime}
    </select>

    <select id="count" resultType="int">
        select count(*) from t_data
        <where>

            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="startTime != null and startTime != ''">and start_time &gt;= date_sub(#{startTime}, INTERVAL - 0
                DAY) AND start_time &lt; date_sub(#{startTime}, INTERVAL - 1 DAY)
            </if>
            <if test="saveTime != null and saveTime != ''">and start_time &gt;= date_sub(#{saveTime}, INTERVAL - 0 DAY)
                AND start_time &lt; date_sub(#{saveTime}, INTERVAL - 1 DAY)
            </if>

            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="baseData != null and baseData != ''">and base_data = #{baseData}</if>
            <if test="remaind != null and remaind != ''">and remaind = #{remaind}</if>
            <if test="equipmentId != null and equipmentId != ''">and equipment_id = #{equipmentId}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.jianhuyi.information.domain.DataDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_data
		(
			`start_time`, 
			`status`, 
			`base_data`,
			`remaind`,
			equipment_id
		)
		values
		(
			#{startTime}, 
			#{status}, 
			#{baseData},
			#{remaind},
			#{equipmentId}
		)
	</insert>

    <update id="update" parameterType="com.jianhuyi.information.domain.DataDO">
        update t_data
        <set>
            <if test="startTime != null">`start_time` = #{startTime},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="baseData != null">`base_data` = #{baseData},</if>
            <if test="remaind != null">`remaind` = #{remaind},</if>
            <if test="equipmentId != null">`equipment_id` = #{equipmentId},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from t_data where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from t_data where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>