<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.EnergysDataDao">

    <select id="get" resultType="com.jianhuyi.information.domain.EnergysDataDO">
		select `id`,`time`,`update_time`,`power`,`usb_Status`,`effective_time`,`read_time`,`unRead_time` from t_energys_data where id = #{value}
	</select>

    <select id="list" resultType="com.jianhuyi.information.domain.EnergysDataDO">
        select `id`,`time`,`update_time`,`power`,`usb_Status`,`effective_time`,`read_time`,`unRead_time` from
        t_energys_data
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="time != null and time != ''">and time &gt;= date_sub(#{time}, INTERVAL - 0 DAY) AND time &lt;
                date_sub(#{time}, INTERVAL - 1 DAY)
            </if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
            <if test="power != null and power != ''">and power = #{power}</if>
            <if test="usbStatus != null and usbStatus != ''">and usb_Status = #{usbStatus}</if>
            <if test="effectiveTime != null and effectiveTime != ''">and effective_time = #{effectiveTime}</if>
            <if test="readTime != null and readTime != ''">and read_time = #{readTime}</if>
            <if test="unreadTime != null and unreadTime != ''">and unRead_time = #{unreadTime}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_energys_data
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="time != null and time != ''">and time &gt;= date_sub(#{time}, INTERVAL - 0 DAY) AND time &lt;
                date_sub(#{time}, INTERVAL - 1 DAY)
            </if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
            <if test="power != null and power != ''">and power = #{power}</if>
            <if test="usbStatus != null and usbStatus != ''">and usb_Status = #{usbStatus}</if>
            <if test="effectiveTime != null and effectiveTime != ''">and effective_time = #{effectiveTime}</if>
            <if test="readTime != null and readTime != ''">and read_time = #{readTime}</if>
            <if test="unreadTime != null and unreadTime != ''">and unRead_time = #{unreadTime}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.jianhuyi.information.domain.EnergysDataDO" useGeneratedKeys="true"
            keyProperty="id">
		insert into t_energys_data
		(
			`time`, 
			`update_time`, 
			`power`, 
			`usb_Status`, 
			`effective_time`, 
			`read_time`, 
			`unRead_time`
		)
		values
		(
			#{time}, 
			#{updateTime}, 
			#{power}, 
			#{usbStatus}, 
			#{effectiveTime}, 
			#{readTime}, 
			#{unreadTime}
		)
	</insert>

    <update id="update" parameterType="com.jianhuyi.information.domain.EnergysDataDO">
        update t_energys_data
        <set>
            <if test="time != null">`time` = #{time},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
            <if test="power != null">`power` = #{power},</if>
            <if test="usbStatus != null">`usb_Status` = #{usbStatus},</if>
            <if test="effectiveTime != null">`effective_time` = #{effectiveTime},</if>
            <if test="readTime != null">`read_time` = #{readTime},</if>
            <if test="unreadTime != null">`unRead_time` = #{unreadTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from t_energys_data where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from t_energys_data where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>