<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.GiftDao">

    <select id="get" resultType="com.jianhuyi.information.domain.GiftDO">
		select `id`,`gift_id`,`cover_img`,`gift_name`,`gift_details`,`create_time` from t_gift where id = #{value}
	</select>

    <select id="list" resultType="com.jianhuyi.information.domain.GiftDO">
        select `id`,`gift_id`,`cover_img`,`gift_name`,`gift_details`,`create_time` from t_gift
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="giftId != null and giftId != ''">and gift_id = #{giftId}</if>
            <if test="coverImg != null and coverImg != ''">and cover_img = #{coverImg}</if>
            <if test="giftName != null and giftName != ''">and gift_name like CONCAT('%',#{giftName},'%') </if>
            <if test="giftDetails != null and giftDetails != ''">and gift_details = #{giftDetails}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_gift
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="giftId != null and giftId != ''">and gift_id = #{giftId}</if>
            <if test="coverImg != null and coverImg != ''">and cover_img = #{coverImg}</if>
            <if test="giftName != null and giftName != ''">and gift_name = #{giftName}</if>
            <if test="giftDetails != null and giftDetails != ''">and gift_details = #{giftDetails}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.jianhuyi.information.domain.GiftDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_gift
		(
			`gift_id`, 
			`cover_img`, 
			`gift_name`, 
			`gift_details`, 
			`create_time`
		)
		values
		(
			#{giftId}, 
			#{coverImg}, 
			#{giftName}, 
			#{giftDetails}, 
			#{createTime}
		)
	</insert>

    <update id="update" parameterType="com.jianhuyi.information.domain.GiftDO">
        update t_gift
        <set>
            <if test="giftId != null">`gift_id` = #{giftId},</if>
            <if test="coverImg != null">`cover_img` = #{coverImg},</if>
            <if test="giftName != null">`gift_name` = #{giftName},</if>
            <if test="giftDetails != null">`gift_details` = #{giftDetails},</if>
            <if test="createTime != null">`create_time` = #{createTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from t_gift where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from t_gift where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>