<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.UseJianhuyiLogDao">

    <select id="get" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		select `id`,`user_id`,`add_time`,`read_duration`,equipment_id,save_time,`outdoors_duration`,`read_distance`,`read_light`,`look_phone_duration`,`look_phone_count`,`look_tv_computer_duration`,`look_tv_computer_count`,`sit_tilt`,`use_jianhuyi_duration`,`sport_duration`,`del_flag` from t_use_jianhuyi_log where id = #{value}
	</select>

    <select id="list" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        select
        id,
        user_id,
        add_time,
        equipment_id,
        save_time,
        SUM(read_duration)/count(*) read_duration,
        SUM(outdoors_duration)/count(*) outdoors_duration,
        SUM(read_distance)/count(*) read_distance,
        SUM(read_light)/count(*) read_light,
        SUM(look_phone_duration)/count(*) look_phone_duration,
        SUM(look_phone_count)/count(*) look_phone_count,
        SUM(look_tv_computer_duration)/count(*) look_tv_computer_duration,
        SUM(look_tv_computer_count)/count(*) look_tv_computer_count,
        SUM(sit_tilt)/count(*) sit_tilt,
        SUM(use_jianhuyi_duration)/count(*) use_jianhuyi_duration,
        SUM(sport_duration)/count(*) sport_duration,
        `del_flag`
        from t_use_jianhuyi_log
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="addTime != null and addTime != ''">and add_time = #{addTime}</if>
            <if test="saveTime != null and saveTime != ''">and save_time like CONCAT('%',#{saveTime},'%')</if>
            <if test="startTime != null and startTime != ''">and add_time &gt;= #{startTime}</if>
            <if test="endTime != null and endTime != ''">and add_time &lt;= #{endTime}</if>
            <if test="readDuration != null and readDuration != ''">and read_duration = #{readDuration}</if>
            <if test="outdoorsDuration != null and outdoorsDuration != ''">and outdoors_duration = #{outdoorsDuration}
            </if>
            <if test="readDistance != null and readDistance != ''">and read_distance = #{readDistance}</if>
            <if test="readLight != null and readLight != ''">and read_light = #{readLight}</if>
            <if test="lookPhoneDuration != null and lookPhoneDuration != ''">and look_phone_duration =
                #{lookPhoneDuration}
            </if>
            <if test="lookTvComputerDuration != null and lookTvComputerDuration != ''">and look_tv_computer_duration =
                #{lookTvComputerDuration}
            </if>
            <if test="sitTilt != null and sitTilt != ''">and sit_tilt = #{sitTilt}</if>
            <if test="useJianhuyiDuration != null and useJianhuyiDuration != ''">and use_jianhuyi_duration =
                #{useJianhuyiDuration}
            </if>
            <if test="sportDuration != null and sportDuration != ''">and sport_duration = #{sportDuration}</if>
            <if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>

            <if test="week != null and week != ''">and YEARWEEK(date_format(save_time,'%Y-%m-%d'),1) =
                YEARWEEK(now(),1)
            </if>
            <if test="month != null and month != ''">and DATE_FORMAT( save_time, '%Y%m') = DATE_FORMAT( CURDATE( ) ,
                '%Y%m' )
            </if>
            <if test="quarter != null and quarter != ''">and QUARTER(save_time)=QUARTER(now())</if>
            <if test="year != null and year != ''">and YEAR(save_time)=YEAR(NOW())</if>

        </where>
        GROUP BY date_format(save_time, '%Y-%m-%d')
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by save_time desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="listDetail" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        select
        id,
        user_id,
        add_time,
        equipment_id,
        save_time,
         read_duration,
         outdoors_duration,
        read_distance,
       read_light,
         look_phone_duration,
        look_phone_count,
        look_tv_computer_duration,
         look_tv_computer_count,
         sit_tilt,
         use_jianhuyi_duration,
         sport_duration,
        `del_flag`
        from t_use_jianhuyi_log
        where
            save_time &gt;= date_sub(#{saveTime}, INTERVAL - 0 DAY)
                AND save_time &lt; date_sub(#{saveTime}, INTERVAL -1 DAY)
                and user_id = #{userId}
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>

    </select>

    <select id="counts" resultType="int">
        select count(*)
        from t_use_jianhuyi_log
        where
            save_time &gt;= date_sub(#{saveTime}, INTERVAL - 0 DAY)
                AND save_time &lt; date_sub(#{saveTime}, INTERVAL -1 DAY)
                and user_id = #{userId}

    </select>

    <select id="list1" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        select
        id,
        user_id,
        add_time,
        equipment_id,
        save_time,
        SUM(read_duration)/count(*) read_duration,
        SUM(outdoors_duration)/count(*) outdoors_duration,
        SUM(read_distance)/count(*) read_distance,
        SUM(read_light)/count(*) read_light,
        SUM(look_phone_duration)/count(*) look_phone_duration,
        SUM(look_phone_count)/count(*) look_phone_count,
        SUM(look_tv_computer_duration)/count(*) look_tv_computer_duration,
        SUM(look_tv_computer_count)/count(*) look_tv_computer_count,
        SUM(sit_tilt)/count(*) sit_tilt,
        SUM(use_jianhuyi_duration)/count(*) use_jianhuyi_duration,
        SUM(sport_duration)/count(*) sport_duration,
        `del_flag`
        from t_use_jianhuyi_log
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="addTime != null and addTime != ''">and add_time = #{addTime}</if>
            <if test="saveTime != null and saveTime != ''">and save_time like CONCAT('%',#{saveTime},'%')</if>
            <if test="startTime != null and startTime != ''">and add_time &gt;= #{startTime}</if>
            <if test="endTime != null and endTime != ''">and add_time &lt;= #{endTime}</if>
            <if test="readDuration != null and readDuration != ''">and read_duration = #{readDuration}</if>
            <if test="outdoorsDuration != null and outdoorsDuration != ''">and outdoors_duration = #{outdoorsDuration}
            </if>
            <if test="readDistance != null and readDistance != ''">and read_distance = #{readDistance}</if>
            <if test="readLight != null and readLight != ''">and read_light = #{readLight}</if>
            <if test="lookPhoneDuration != null and lookPhoneDuration != ''">and look_phone_duration =
                #{lookPhoneDuration}
            </if>
            <if test="lookTvComputerDuration != null and lookTvComputerDuration != ''">and look_tv_computer_duration =
                #{lookTvComputerDuration}
            </if>
            <if test="sitTilt != null and sitTilt != ''">and sit_tilt = #{sitTilt}</if>
            <if test="useJianhuyiDuration != null and useJianhuyiDuration != ''">and use_jianhuyi_duration =
                #{useJianhuyiDuration}
            </if>
            <if test="sportDuration != null and sportDuration != ''">and sport_duration = #{sportDuration}</if>
            <if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>

            <if test="week != null and week != ''">and YEARWEEK(date_format(save_time,'%Y-%m-%d'),1) =
                YEARWEEK(now(),1)
            </if>
            <if test="month != null and month != ''">and DATE_FORMAT( save_time, '%Y%m') = DATE_FORMAT( CURDATE( ) ,
                '%Y%m' )
            </if>
            <if test="quarter != null and quarter != ''">and QUARTER(save_time)=QUARTER(now())</if>
            <if test="year != null and year != ''">and YEAR(save_time)=YEAR(NOW())</if>

        </where>
        GROUP BY date_format(save_time, '%Y-%m-%d')
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by save_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryUserWeekRecord" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		SELECT
			`id`,
			`user_id`,
			status,
			save_time,
			`add_time`,
			`read_duration`,
			`outdoors_duration`,
			`read_distance`,
			`read_light`,
			`look_phone_duration`,
			`look_phone_count`,
			`look_tv_computer_duration`,
			`look_tv_computer_count`,
			`sit_tilt`,
			`use_jianhuyi_duration`,
			`sport_duration`,
			`del_flag`
		FROM
			t_use_jianhuyi_log
		where
		save_time like CONCAT('%',#{saveTime},'%')  and user_id=  #{userId}
	</select>

    <select id="queryUserWeekRecordBetween" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		select `id`,status,`user_id`,save_time,`add_time`,`read_duration`,`outdoors_duration`,`read_distance`,`read_light`,`look_phone_duration`,`look_phone_count`,`look_tv_computer_duration`,`look_tv_computer_count`,`sit_tilt`,`use_jianhuyi_duration`,`sport_duration`,`del_flag` from t_use_jianhuyi_log
		where save_time between #{start} and #{end} and user_id= #{userId}
	</select>

    <select id="count" resultType="int">
        select count(*) from (
        SELECT
        count(*)
        FROM
        t_use_jianhuyi_log
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="addTime != null and addTime != ''">and add_time = #{addTime}</if>
            <if test="readDuration != null and readDuration != ''">and read_duration = #{readDuration}</if>
            <if test="outdoorsDuration != null and outdoorsDuration != ''">and outdoors_duration = #{outdoorsDuration}
            </if>
            <if test="readDistance != null and readDistance != ''">and read_distance = #{readDistance}</if>
            <if test="readLight != null and readLight != ''">and read_light = #{readLight}</if>
            <if test="lookPhoneDuration != null and lookPhoneDuration != ''">and look_phone_duration =
                #{lookPhoneDuration}
            </if>
            <if test="lookTvComputerDuration != null and lookTvComputerDuration != ''">and look_tv_computer_duration =
                #{lookTvComputerDuration}
            </if>
            <if test="sitTilt != null and sitTilt != ''">and sit_tilt = #{sitTilt}</if>
            <if test="useJianhuyiDuration != null and useJianhuyiDuration != ''">and use_jianhuyi_duration =
                #{useJianhuyiDuration}
            </if>
            <if test="sportDuration != null and sportDuration != ''">and sport_duration = #{sportDuration}</if>
            <if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>
            <if test="week != null and week != ''">and YEARWEEK(date_format(save_time,'%Y-%m-%d'),1) =
                YEARWEEK(now(),1)
            </if>
        </where>
        GROUP BY
        date_format(save_time, '%Y-%m-%d')
        ) t_use_jianhuyi_log

    </select>

    <insert id="save" parameterType="com.jianhuyi.information.domain.UseJianhuyiLogDO" useGeneratedKeys="true"
            keyProperty="id">
		insert into t_use_jianhuyi_log
		(
			`user_id`, 
			`add_time`, 
			`read_duration`, 
			`outdoors_duration`, 
			`read_distance`, 
			`read_light`, 
			`look_phone_duration`,
			`look_phone_count`,
			`look_tv_computer_duration`,
			`look_tv_computer_count`,
			`sit_tilt`, 
			`use_jianhuyi_duration`, 
			`sport_duration`, 
			`del_flag`
		)
		values
		(
			#{userId}, 
			#{addTime}, 
			#{readDuration}, 
			#{outdoorsDuration}, 
			#{readDistance}, 
			#{readLight}, 
			#{lookPhoneDuration},
			#{lookPhoneCount},
			#{lookTvComputerDuration},
			#{lookTvComputerCount},
			#{sitTilt}, 
			#{useJianhuyiDuration}, 
			#{sportDuration}, 
			#{delFlag}
		)
	</insert>

    <update id="update" parameterType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        update t_use_jianhuyi_log
        <set>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="addTime != null">`add_time` = #{addTime},</if>
            <if test="readDuration != null">`read_duration` = #{readDuration},</if>
            <if test="outdoorsDuration != null">`outdoors_duration` = #{outdoorsDuration},</if>
            <if test="readDistance != null">`read_distance` = #{readDistance},</if>
            <if test="readLight != null">`read_light` = #{readLight},</if>
            <if test="lookPhoneDuration != null">`look_phone_duration` = #{lookPhoneDuration},</if>
            <if test="lookTvComputerDuration != null">`look_tv_computer_duration` = #{lookTvComputerDuration},</if>
            <if test="sitTilt != null">`sit_tilt` = #{sitTilt},</if>
            <if test="useJianhuyiDuration != null">`use_jianhuyi_duration` = #{useJianhuyiDuration},</if>
            <if test="sportDuration != null">`sport_duration` = #{sportDuration},</if>
            <if test="delFlag != null">`del_flag` = #{delFlag}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from t_use_jianhuyi_log where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from t_use_jianhuyi_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>