<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.UseJianhuyiLogDao">

    <select id="get" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		select `id`,`user_id`,`add_time`,`read_duration`,equipment_id,save_time,`outdoors_duration`,`read_distance`,`read_light`,`look_phone_duration`,`look_phone_count`,`look_tv_computer_duration`,`look_tv_computer_count`,`sit_tilt`,`use_jianhuyi_duration`,`sport_duration`,`del_flag` from t_use_jianhuyi_log where id = #{value}
	</select>

    <!--某日阅读数据-->
    <select id="queryData" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT tuj.id,tuj.user_id,tu.`name`,tu.nickname,tu.phone,tu.student_num,tuj.upload_id,tuj.equipment_id,
        date_format(tuj.save_time, '%Y-%m-%d') save_time, SUM(IFNULL(tuj.read_duration, 0.0) ) / count(*) read_duration,
        SUM(IFNULL(tuj.read_distance, 0.0) ) / count(*) read_distance, SUM(IFNULL(tuj.read_light, 0.0)) / count(*)
        read_light,
        SUM(IFNULL(tuj.look_phone_duration, 0.0 )) / SUM(tuj.look_phone_count) look_phone_duration,SUM(IFNULL(
        tuj.look_tv_computer_duration,0.0)) / SUM(tuj.look_tv_computer_count) look_tv_computer_duration,
        SUM(IFNULL(tuj.sit_tilt, 0.0)) / count(*) sit_tilt,date_format(tur.reminds_time,'%Y-%m-%d')
        reminds_time,tur.remindsNum, tut.userDurtion /20 AS userDurtion,
        sum(if(tuj.status=2,outdoors_duration,0)) outdoors_duration

        FROM
        t_use_jianhuyi_log tuj
        LEFT JOIN t_user tu ON tu.id = tuj.user_id,
        (
        SELECT
        upload_id,
        user_id,
        date_format(reminds_time, '%Y-%m-%d') reminds_time,
        COUNT(*) remindsNum
        FROM
        t_use_reminds
        <where>
            <if test="saveTime != null and saveTime != ''">and reminds_time like CONCAT('%',#{saveTime},'%')</if>
        </where>
        GROUP BY
        user_id
        ) tur,
        (
        SELECT
        `id`,
        `use_time`,
        `save_time`,
        user_id,
        upload_id,
        COUNT(*) userDurtion
        FROM
        t_use_time
        <where>
            <if test="saveTime != null and saveTime != ''">and use_time like CONCAT('%',#{saveTime},'%')</if>
        </where>
        GROUP BY
        user_id
        ) tut
        <where>
            <if test="saveTime != null and saveTime != ''">and tuj.save_time like CONCAT('%',#{saveTime},'%')</if>
            <if test="uploadId != null and uploadId != ''">and tuj.upload_id = #{uploadId}</if>
            <if test="userId != null and userId != ''">and tuj.user_id = #{userId}</if>
            AND tur.user_id = tuj.user_id
            AND tut.user_id = tuj.user_id
            AND tuj.`status` = 1
        </where>

        GROUP BY
        <choose>
            <when test="userId != ''">
                date_format(tuj.save_time, '%Y-%m-%d')
            </when>
            <otherwise>
                tuj.user_id
            </otherwise>
        </choose>

    </select>

    <select id="exeList" resultType="java.util.Map">
        SELECT
        IFNULL(tuj.id, '') AS 数据id,
        IFNULL(tuj.user_id, '') AS 用户id,
        IFNULL(tu.`name`, '') AS 用户姓名,
        IFNULL(tu.phone, '') AS 手机号,
        IFNULL(tu.student_num, '') AS 学号,
        IFNULL(tuj.upload_id, '') AS 上传人id,
        IFNULL(tuj.equipment_id, '') AS 设备号,
        date_format(
        IFNULL(tuj.save_time, ''),
        '%Y-%m-%d'
        ) AS 使用时间,
        SUM(
        IFNULL(tuj.read_duration, 0.0)
        ) / count(*) 平均阅读时长,
        SUM(
        IFNULL(tuj.read_distance, 0.0)
        ) / count(*) 平均阅读距离,
        SUM(IFNULL(tuj.read_light, 0.0)) / count(*) 平均阅读光照,
        SUM(
        IFNULL(
        tuj.look_phone_duration,
        0.0
        )
        ) / SUM(tuj.look_phone_count) 平均看手机时长,
        SUM(
        IFNULL(
        tuj.look_tv_computer_duration,
        0.0
        )
        ) / SUM(tuj.look_tv_computer_count) 平均看电子屏时长,
        SUM(IFNULL(tuj.sit_tilt, 0.0)) / count(*) 平均坐姿角度,
        IFNULL(tur.remindsNum, '') AS 提醒次数,
        IFNULL(tut.userDurtion * 3, '') AS 有效使用时长,
        IFNULL(
        outdoor.outdoors_duration,
        ''
        ) AS 户外使用时长
        FROM
        t_use_jianhuyi_log tuj
        LEFT JOIN t_user tu ON tu.id = tuj.user_id,
        (
        SELECT
        upload_id,
        user_id,
        date_format(reminds_time, '%Y-%m-%d') reminds_time,
        COUNT(*) remindsNum
        FROM
        t_use_reminds
        <where>
            <if test="saveTime != null and saveTime != ''">and reminds_time like CONCAT('%',#{saveTime},'%')</if>
        </where>
        GROUP BY
        user_id
        ) tur,
        (
        SELECT
        `id`,
        `use_time`,
        `save_time`,
        user_id,
        upload_id,
        COUNT(*) userDurtion
        FROM
        t_use_time
        <where>
            <if test="saveTime != null and saveTime != ''">and use_time like CONCAT('%',#{saveTime},'%')</if>
        </where>
        GROUP BY
        user_id
        ) tut,

        (
        SELECT
        user_id,
        SUM(outdoors_duration) outdoors_duration
        FROM
        t_use_jianhuyi_log
        <where>
            <if test="saveTime != null and saveTime != ''">and save_time like CONCAT('%',#{saveTime},'%')</if>
            AND `status` = 2
        </where>

        GROUP BY
        user_id
        ) outdoor
        <where>
            <if test="saveTime != null and saveTime != ''">and tuj.save_time like CONCAT('%',#{saveTime},'%')</if>
            <if test="uploadId != null and uploadId != ''">and tuj.upload_id = #{uploadId}</if>
            <if test="userId != null and userId != ''">and tuj.user_id = #{userId}</if>
            AND tur.user_id = tuj.user_id
            AND tut.user_id = tuj.user_id
            and outdoor.user_id = tuj.user_id
            AND tuj.`status` = 1
        </where>

        GROUP BY
        <choose>
            <when test="userId != ''">
                date_format(tuj.save_time, '%Y-%m-%d')
            </when>
            <otherwise>
                tuj.user_id
            </otherwise>
        </choose>

    </select>

    <select id="countLog" resultType="int">
        SELECT COUNT(*) from
        (
        SELECT
        tuj.user_id,
        tuj.upload_id,
        tuj.equipment_id,
        date_format(tuj.save_time, '%Y-%m-%d') save_time,
        SUM(IFNULL(tuj.read_duration, 0.0)) / count(read_duration) read_duration,
        SUM(IFNULL(tuj.read_distance, 0.0)) / count(read_distance) read_distance,
        SUM(IFNULL(tuj.read_light, 0.0)) / count(read_light) read_light,
        SUM(IFNULL(tuj.look_phone_duration, 0.0)) / SUM(tuj.look_phone_count) look_phone_duration,
        SUM(IFNULL(tuj.look_tv_computer_duration,0.0)) / SUM(tuj.look_tv_computer_count) look_tv_computer_duration,
        SUM(IFNULL(tuj.sit_tilt, 0.0)) / count(sit_tilt) sit_tilt,
        sum(if(tuj.status=2,outdoors_duration,0)) outdoors_duration
        FROM
        t_use_jianhuyi_log tuj
        GROUP BY
        substr(tuj.save_time, 1, 10),tuj.user_id
        ORDER BY
        substr(tuj.save_time, 1, 10) DESC
        ) zo
        <where>
            <if test="uploadId != null and uploadId != ''">and zo.upload_id = #{uploadId}</if>
            <if test="userId != null and userId != ''">and zo.user_id = #{userId}</if>
            <if test="startTime != null and startTime != ''">and zo.save_time &gt;= #{startTime}</if>
            <if test="endTime != null and endTime != ''">and zo.save_time &lt;= #{endTime}</if>
        </where>
    </select>

    <select id="list" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        SELECT
            zo.user_id,
            zo.upload_id,
            zo.equipment_id,
            zo.save_time,
            zo.read_duration,
            zo.read_distance,
            zo.read_light,
            zo.look_phone_duration,
            zo.look_tv_computer_duration,
            zo.sit_tilt,
            zo.outdoors_duration,
            tur.remindsNum ,tut.userDurtion
        from
        (
            SELECT
            tuj.user_id,
            tuj.upload_id,
            tuj.equipment_id,
            date_format(tuj.save_time, '%Y-%m-%d') save_time,
            SUM(IFNULL(tuj.read_duration, 0.0)) / count(read_duration) read_duration,
            SUM(IFNULL(tuj.read_distance, 0.0)) / count(read_distance) read_distance,
            SUM(IFNULL(tuj.read_light, 0.0)) / count(read_light) read_light,
            SUM(IFNULL(tuj.look_phone_duration, 0.0)) / SUM(tuj.look_phone_count) look_phone_duration,
            SUM(IFNULL(tuj.look_tv_computer_duration,0.0)) / SUM(tuj.look_tv_computer_count) look_tv_computer_duration,
            SUM(IFNULL(tuj.sit_tilt, 0.0)) / count(sit_tilt) sit_tilt,
            sum(if(tuj.status=2,outdoors_duration,0)) outdoors_duration
            FROM
            t_use_jianhuyi_log tuj
            GROUP BY
            substr(tuj.save_time, 1, 10),tuj.user_id
            ORDER BY
            substr(tuj.save_time, 1, 10) DESC
        ) zo
        LEFT JOIN
        (
            SELECT
            upload_id,
            user_id,
            date_format(reminds_time, '%Y-%m-%d') reminds_time,
            COUNT(*) remindsNum
            FROM
            t_use_reminds
            GROUP BY
            substr(reminds_time, 1, 10),user_id
        ) tur
        on zo.user_id = tur.user_id and zo.save_time = tur.reminds_time
        LEFT JOIN
        (
            SELECT
            `id`,
            date_format(use_time, '%Y-%m-%d') use_time,
            `save_time`,
            user_id,
            upload_id,
            COUNT(*)/20 userDurtion
            FROM
            t_use_time
            GROUP BY
            substr(use_time, 1, 10),user_id
        )tut
        on zo.user_id = tut.user_id and zo.save_time = tut.use_time
        <where>
            <if test="uploadId != null and uploadId != ''">and zo.upload_id = #{uploadId}</if>
            <if test="userId != null and userId != ''">and zo.user_id = #{userId}</if>
            <if test="startTime != null and startTime != ''">and zo.save_time &gt;= #{startTime}</if>
            <if test="endTime != null and endTime != ''">and zo.save_time &lt;= #{endTime}</if>
        </where>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
        <!--
            SELECT
            tuj.user_id,
            tuj.upload_id,
            tuj.equipment_id,
            date_format(tuj.save_time, '%Y-%m-%d') save_time,
            SUM(IFNULL(tuj.read_duration, 0.0)) / count(*) read_duration,
            SUM(IFNULL(tuj.read_distance, 0.0)) / count(*) read_distance,
            SUM(IFNULL(tuj.read_light, 0.0)) / count(*) read_light,
            SUM(
            IFNULL(tuj.look_phone_duration, 0.0)
            ) / SUM(tuj.look_phone_count) look_phone_duration,
            SUM(
            IFNULL(
            tuj.look_tv_computer_duration,
            0.0
            )
            ) / SUM(tuj.look_tv_computer_count) look_tv_computer_duration,
            SUM(IFNULL(tuj.sit_tilt, 0.0)) / count(*) sit_tilt,
            sum(if(status=2,outdoors_duration,0)) outdoors_duration
            FROM
            t_use_jianhuyi_log tuj

            WHERE tuj.status =1
            GROUP BY
            substr(tuj.save_time, 1, 10),
            tuj.user_id
            ORDER BY
            substr(tuj.save_time, 1, 10) DESC
            <if test="offset != null and limit != null">
                limit #{offset}, #{limit}
            </if>
            -->
    </select>

    <select id="listDetail" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        select
        id,
        user_id,
        add_time,
        equipment_id,
        save_time,
        read_duration,
        outdoors_duration,
        read_distance,
        read_light,
        look_phone_duration,
        look_phone_count,
        look_tv_computer_duration,
        look_tv_computer_count,
        sit_tilt,
        use_jianhuyi_duration,
        sport_duration,
        `del_flag`
        from t_use_jianhuyi_log
        where
        save_time &gt;= date_sub(#{saveTime}, INTERVAL - 0 DAY)
        AND save_time &lt; date_sub(#{saveTime}, INTERVAL -1 DAY)
        and user_id = #{userId}
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>

    </select>

    <select id="counts" resultType="int">
        select count(*)
        from t_use_jianhuyi_log
        where
            save_time &gt;= date_sub(#{saveTime}, INTERVAL - 0 DAY)
                AND save_time &lt; date_sub(#{saveTime}, INTERVAL -1 DAY)
                and user_id = #{userId}

    </select>

    <select id="list1" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        select
        id,
        user_id,
        add_time,
        equipment_id,
        save_time,
        SUM(read_duration)/count(*) read_duration,
        SUM(outdoors_duration)/count(*) outdoors_duration,
        SUM(read_distance)/count(*) read_distance,
        SUM(read_light)/count(*) read_light,
        SUM(look_phone_duration)/count(*) look_phone_duration,
        SUM(look_phone_count)/count(*) look_phone_count,
        SUM(look_tv_computer_duration)/count(*) look_tv_computer_duration,
        SUM(look_tv_computer_count)/count(*) look_tv_computer_count,
        SUM(sit_tilt)/count(*) sit_tilt,
        SUM(use_jianhuyi_duration)/count(*) use_jianhuyi_duration,
        SUM(sport_duration)/count(*) sport_duration,
        `del_flag`
        from t_use_jianhuyi_log
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="addTime != null and addTime != ''">and add_time = #{addTime}</if>
            <if test="saveTime != null and saveTime != ''">and save_time like CONCAT('%',#{saveTime},'%')</if>
            <if test="startTime != null and startTime != ''">and add_time &gt;= #{startTime}</if>
            <if test="endTime != null and endTime != ''">and add_time &lt;= #{endTime}</if>
            <if test="readDuration != null and readDuration != ''">and read_duration = #{readDuration}</if>
            <if test="outdoorsDuration != null and outdoorsDuration != ''">and outdoors_duration = #{outdoorsDuration}
            </if>
            <if test="readDistance != null and readDistance != ''">and read_distance = #{readDistance}</if>
            <if test="readLight != null and readLight != ''">and read_light = #{readLight}</if>
            <if test="lookPhoneDuration != null and lookPhoneDuration != ''">and look_phone_duration =
                #{lookPhoneDuration}
            </if>
            <if test="lookTvComputerDuration != null and lookTvComputerDuration != ''">and look_tv_computer_duration =
                #{lookTvComputerDuration}
            </if>
            <if test="sitTilt != null and sitTilt != ''">and sit_tilt = #{sitTilt}</if>
            <if test="useJianhuyiDuration != null and useJianhuyiDuration != ''">and use_jianhuyi_duration =
                #{useJianhuyiDuration}
            </if>
            <if test="sportDuration != null and sportDuration != ''">and sport_duration = #{sportDuration}</if>
            <if test="delFlag != null and delFlag != ''">and del_flag = #{delFlag}</if>

            <if test="week != null and week != ''">and YEARWEEK(date_format(save_time,'%Y-%m-%d'),1) =
                YEARWEEK(now(),1)
            </if>
            <if test="month != null and month != ''">and DATE_FORMAT( save_time, '%Y%m') = DATE_FORMAT( CURDATE( ) ,
                '%Y%m' )
            </if>
            <if test="quarter != null and quarter != ''">and QUARTER(save_time)=QUARTER(now())</if>
            <if test="year != null and year != ''">and YEAR(save_time)=YEAR(NOW())</if>

        </where>
        GROUP BY date_format(save_time, '%Y-%m-%d')
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by save_time ASC
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryUserWeekRecord" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		SELECT
			`id`,
			`user_id`,
			status,
			save_time,
			`add_time`,
			`read_duration`,
			`outdoors_duration`,
			`read_distance`,
			`read_light`,
			`look_phone_duration`,
			`look_phone_count`,
			`look_tv_computer_duration`,
			`look_tv_computer_count`,
			`sit_tilt`,
			`use_jianhuyi_duration`,
			`sport_duration`,
			`del_flag`
		FROM
			t_use_jianhuyi_log
		where
		save_time like CONCAT('%',#{saveTime},'%')  and user_id=  #{userId}
	</select>

    <select id="queryUserWeekRecordBetween" resultType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
		select `id`,status,`user_id`,save_time,`add_time`,`read_duration`,`outdoors_duration`,`read_distance`,`read_light`,`look_phone_duration`,`look_phone_count`,`look_tv_computer_duration`,`look_tv_computer_count`,`sit_tilt`,`use_jianhuyi_duration`,`sport_duration`,`del_flag` from t_use_jianhuyi_log
		where save_time between #{start} and #{end} and user_id= #{userId}
	</select>

    <select id="count" resultType="int">
        SELECT
                count(*)
            FROM
                (
                    SELECT
                tuj.user_id,
                tuj.upload_id,
                tuj.equipment_id,
                date_format(tuj.save_time, '%Y-%m-%d') save_time,
                SUM(IFNULL(tuj.read_duration, 0.0)) / count(*) read_duration,
                SUM(IFNULL(tuj.read_distance, 0.0)) / count(*) read_distance,
                SUM(IFNULL(tuj.read_light, 0.0)) / count(*) read_light,
                SUM(
                    IFNULL(tuj.look_phone_duration, 0.0)
                ) / SUM(tuj.look_phone_count) look_phone_duration,
                SUM(
                    IFNULL(
                        tuj.look_tv_computer_duration,
                        0.0
                    )
                ) / SUM(tuj.look_tv_computer_count) look_tv_computer_duration,
                SUM(IFNULL(tuj.sit_tilt, 0.0)) / count(*) sit_tilt,
             outdoor.outdoors_duration
            FROM
                t_use_jianhuyi_log tuj,
            (
                SELECT
                    user_id,
                    SUM(outdoors_duration) outdoors_duration
                FROM
                    t_use_jianhuyi_log
                WHERE
                    `status` = 2
                GROUP BY
                    substr(save_time, 1, 10),
                user_id
            ) outdoor
            WHERE tuj.status =1
            GROUP BY
                substr(tuj.save_time, 1, 10),
                tuj.user_id
            ORDER BY
                substr(tuj.save_time, 1, 10) DESC
                ) a
    </select>

    <insert id="save" parameterType="com.jianhuyi.information.domain.UseJianhuyiLogDO" useGeneratedKeys="true"
            keyProperty="id">
		insert into t_use_jianhuyi_log
		(
			`user_id`, 
			`add_time`, 
			`read_duration`, 
			`outdoors_duration`, 
			`read_distance`, 
			`read_light`, 
			`look_phone_duration`,
			`look_phone_count`,
			`look_tv_computer_duration`,
			`look_tv_computer_count`,
			`sit_tilt`, 
			`use_jianhuyi_duration`, 
			`sport_duration`, 
			`del_flag`
		)
		values
		(
			#{userId}, 
			#{addTime}, 
			#{readDuration}, 
			#{outdoorsDuration}, 
			#{readDistance}, 
			#{readLight}, 
			#{lookPhoneDuration},
			#{lookPhoneCount},
			#{lookTvComputerDuration},
			#{lookTvComputerCount},
			#{sitTilt}, 
			#{useJianhuyiDuration}, 
			#{sportDuration}, 
			#{delFlag}
		)
	</insert>

    <update id="update" parameterType="com.jianhuyi.information.domain.UseJianhuyiLogDO">
        update t_use_jianhuyi_log
        <set>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="addTime != null">`add_time` = #{addTime},</if>
            <if test="readDuration != null">`read_duration` = #{readDuration},</if>
            <if test="outdoorsDuration != null">`outdoors_duration` = #{outdoorsDuration},</if>
            <if test="readDistance != null">`read_distance` = #{readDistance},</if>
            <if test="readLight != null">`read_light` = #{readLight},</if>
            <if test="lookPhoneDuration != null">`look_phone_duration` = #{lookPhoneDuration},</if>
            <if test="lookTvComputerDuration != null">`look_tv_computer_duration` = #{lookTvComputerDuration},</if>
            <if test="sitTilt != null">`sit_tilt` = #{sitTilt},</if>
            <if test="useJianhuyiDuration != null">`use_jianhuyi_duration` = #{useJianhuyiDuration},</if>
            <if test="sportDuration != null">`sport_duration` = #{sportDuration},</if>
            <if test="delFlag != null">`del_flag` = #{delFlag}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from t_use_jianhuyi_log where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from t_use_jianhuyi_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


</mapper>