<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.UseRemindsDao">

    <select id="get" resultType="com.jianhuyi.information.domain.UseRemindsDO">
		select `id`,`upload_id`,`reminds_time`,`save_time`,`user_id`,`equipment_id` from t_use_reminds where id = #{value}
	</select>

    <select id="list" resultType="com.jianhuyi.information.domain.UseRemindsDO">
        select `id`,`upload_id`,`reminds_time`,`save_time`,`user_id`,`equipment_id` from t_use_reminds
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="uploadId != null and uploadId != ''">and upload_id = #{uploadId}</if>
            <if test="remindsTime != null and remindsTime != ''">and reminds_time = #{remindsTime}</if>
            <if test="saveTime != null and saveTime != ''">and save_time = #{saveTime}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="equipmentId != null and equipmentId != ''">and equipment_id = #{equipmentId}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from t_use_reminds
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="uploadId != null and uploadId != ''">and upload_id = #{uploadId}</if>
            <if test="remindsTime != null and remindsTime != ''">and reminds_time = #{remindsTime}</if>
            <if test="saveTime != null and saveTime != ''">and save_time = #{saveTime}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="equipmentId != null and equipmentId != ''">and equipment_id = #{equipmentId}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.jianhuyi.information.domain.UseRemindsDO" useGeneratedKeys="true"
            keyProperty="id">
		insert into t_use_reminds
		(
			`upload_id`, 
			`reminds_time`, 
			`save_time`, 
			`user_id`, 
			`equipment_id`
		)
		values
		(
			#{uploadId}, 
			#{remindsTime}, 
			#{saveTime}, 
			#{userId}, 
			#{equipmentId}
		)
	</insert>

    <update id="update" parameterType="com.jianhuyi.information.domain.UseRemindsDO">
        update t_use_reminds
        <set>
            <if test="uploadId != null">`upload_id` = #{uploadId},</if>
            <if test="remindsTime != null">`reminds_time` = #{remindsTime},</if>
            <if test="saveTime != null">`save_time` = #{saveTime},</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="equipmentId != null">`equipment_id` = #{equipmentId}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from t_use_reminds where id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from t_use_reminds where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>