<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jianhuyi.information.dao.VersionUpdateDao">

	<select id="get" resultType="com.jianhuyi.information.domain.VersionUpdateDO">
		select `id`,`version_num`,`version_name`,`update_time`,`type`,`version_content`,`link_url` from t_version_update where id = #{value}
	</select>

	<select id="list" resultType="com.jianhuyi.information.domain.VersionUpdateDO">
		select `id`,`version_num`,`version_name`,`update_time`,`type`,`version_content`,`link_url` from t_version_update
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="versionNum != null and versionNum != ''"> and version_num = #{versionNum} </if>
		  		  <if test="versionName != null and versionName != ''"> and version_name = #{versionName} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="versionContent != null and versionContent != ''"> and version_content = #{versionContent} </if>
		  		  <if test="linkUrl != null and linkUrl != ''"> and link_url = #{linkUrl} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from t_version_update
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="versionNum != null and versionNum != ''"> and version_num = #{versionNum} </if>
		  		  <if test="versionName != null and versionName != ''"> and version_name = #{versionName} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="versionContent != null and versionContent != ''"> and version_content = #{versionContent} </if>
		  		  <if test="linkUrl != null and linkUrl != ''"> and link_url = #{linkUrl} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.jianhuyi.information.domain.VersionUpdateDO" useGeneratedKeys="true" keyProperty="id">
		insert into t_version_update
		(
			`version_num`, 
			`version_name`, 
			`update_time`, 
			`type`, 
			`version_content`, 
			`link_url`
		)
		values
		(
			#{versionNum}, 
			#{versionName}, 
			#{updateTime}, 
			#{type}, 
			#{versionContent}, 
			#{linkUrl}
		)
	</insert>
	 
	<update id="update" parameterType="com.jianhuyi.information.domain.VersionUpdateDO">
		update t_version_update 
		<set>
			<if test="versionNum != null">`version_num` = #{versionNum}, </if>
			<if test="versionName != null">`version_name` = #{versionName}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="versionContent != null">`version_content` = #{versionContent}, </if>
			<if test="linkUrl != null">`link_url` = #{linkUrl}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_version_update where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_version_update where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>