<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div id="weekEchart" style="">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="echarts" id="main" style="width: 1300px;height:600px;margin-left: 50px;"></div>
    </div>
</div>
<div class="wrapper wrapper-content ">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">

                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                    </div>
                    <div class="columns pull-right col-md-2 nopadding">
                        <input id="time" type="text" class="form-control"
                               placeholder="时间">
                    </div>
                    <input id="dataid" type="hidden" class="form-control" th:value="${id}">
                    <input id="startTime" type="hidden" class="form-control" th:value="${startTime}">
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>

</div>

<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/information/data/jiaodu.js"></script>
<script type="text/javascript" src="/js/echarts/echarts.min.js"></script>
<script type="text/javascript">
   laydate.render(
      {
         elem: '#time',
         type: 'datetime'
      }
   )


   $.ajax({
      type: 'get',
      url: "/information/data/jiaodudetaildata",
      data: {dataid: $('#dataid').val()},
      success: function (data) {
         var timeData = [];
         var anglesData = [];
         var distancesData = [];
         var lightsData = [];

         for (let i = 0; i < data.length; i++) {
            var time = data[i].time.split(' ')[1];
            timeData.push(time);
            anglesData.push(data[i].angles);
            distancesData.push(data[i].distances / 10);

            lightsData.push(data[i].lights / 10);
         }

         var myChart = echarts.init(document.getElementById('main'));
         myChart.hideLoading();
         myChart.setOption({
            tooltip: {
               trigger: 'axis',
               position: function (pt) {
                  return [pt[0], '10%'];
               }
            },
            title: {
               left: 'center',
               text: '数据对比分析',
            },
            legend: {
               data: ['角度', '光照', '距离'],
               left: 'right'
            },
            xAxis: {
               type: 'category',
               boundaryGap: false,
               data: timeData
            },
            yAxis: {
               type: 'value'
            },
            dataZoom: [{
               type: 'inside',
               start: 0,
               end: 100
            }, {
               start: 0,
               end: 10,
               handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
               handleSize: '80%',
               handleStyle: {
                  color: '#fff',
                  shadowBlur: 3,
                  shadowColor: 'rgba(0, 0, 0, 0.6)',
                  shadowOffsetX: 2,
                  shadowOffsetY: 2
               }
            }],
            series: [
               {
                  name: '角度',
                  type: 'line',
                  smooth: true,
                  symbol: 'none',
                  sampling: 'average',
                  itemStyle: {
                     color: 'rgb(224, 201, 122)'
                  },
                  data: anglesData
               },
               {
                  name: '距离',
                  type: 'line',
                  smooth: true,
                  symbol: 'none',
                  sampling: 'average',
                  itemStyle: {
                     color: 'rgb(69, 167, 213)'
                  },
                  data: distancesData
               },
               {
                  name: '光照',
                  type: 'line',
                  smooth: true,
                  symbol: 'none',
                  sampling: 'average',
                  itemStyle: {
                     color: 'rgb(73, 215, 89)'
                  },
                  data: lightsData
               }
            ]
         });
      }
   })


</script>


</body>
</html>