<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						
						<div class="columns pull-right">
							<button class="btn btn-success" id="find" >查询</button>
						</div>
							
						<span style="font-size: 20px; font-weight: bind; line-height: 20;"></span>
						<div class="columns pull-right col-md-2 nopadding ">
							<input id="name" name="name" class="form-control" placeholder="用户名" type="text">
						</div>
						
					</div>
					<button class="btn btn-primary" onclick="exportExcel(2)" type="button">
							<i aria-hidden="true" class="fa fa-export"></i>导出全部数据
					</button>
					<button class="btn btn-primary" onclick="exportExcel(4)" type="button">
						<i aria-hidden="true" class="fa fa-export"></i>导出选中的数据
					</button>
						
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="information:data:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:data:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:data:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/information/datastat/data.js"></script>
	<script type="text/javascript">
		//导出Excel type导出的类型
		//type 1 导出当页数据 2 导出全部数据 3 导出符合条件全部数据 4:导出勾选
		function exportExcel(type) {
			//获取table的分页参数值
			var offset = $('#exampleTable').bootstrapTable('getOptions').pageNumber;
			var limit =( $('#exampleTable').bootstrapTable('getOptions').pageSize -1) * offset;
			data = 'limit='+limit+'&offset='+offset;
			var ids = new Array();
			if(type == 4){
				var rows = $('#exampleTable').bootstrapTable('getSelections'); // 返回所有选择的行，当没有选择的记录时，返回一个空数组
				if (rows.length == 0) {
					layer.msg("请选择要导出的数据");
					return;
				}
				// 遍历所有选择的行数据，取每条数据对应的ID
				$.each(rows, function(i, row) {
					ids[i] = row['id'];
				});
			}else if(type == 2){
				
			}
			//后端导出的方法
			document.location.href ="/information/dataStatis/exportExcel?type="+type+"&"+ data+"&ids="+ids.join(",");
		}

	</script>
	
	
	
	
</body>
</html>