<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${dataEveryday.id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">上传者id：</label>
                            <div class="col-sm-8">
                                <input id="uploadId" name="uploadId" th:value="${dataEveryday.uploadId}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户Id：</label>
                            <div class="col-sm-8">
                                <input id="userId" name="userId" th:value="${dataEveryday.userId}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">设备号：</label>
                            <div class="col-sm-8">
                                <input id="equipmentId" name="equipmentId" th:value="${dataEveryday.equipmentId}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">数据时间：</label>
                            <div class="col-sm-8">
                                <input id="useTime" name="useTime" th:value="${dataEveryday.useTime}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">添加时间：</label>
                            <div class="col-sm-8">
                                <input id="addTime" name="addTime" th:value="${dataEveryday.addTime}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">总阅读时长：</label>
                            <div class="col-sm-8">
                                <input id="allReadDuration" name="allReadDuration"
                                       th:value="${dataEveryday.allReadDuration}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">平均阅读时长(分钟）：</label>
                            <div class="col-sm-8">
                                <input id="readDuration" name="readDuration" th:value="${dataEveryday.readDuration}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">总户外时长(小时）：</label>
                            <div class="col-sm-8">
                                <input id="outdoorsDuration" name="outdoorsDuration"
                                       th:value="${dataEveryday.outdoorsDuration}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">平均阅读距离(厘米)：</label>
                            <div class="col-sm-8">
                                <input id="readDistance" name="readDistance" th:value="${dataEveryday.readDistance}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">平均阅读光照(lux)：</label>
                            <div class="col-sm-8">
                                <input id="readLight" name="readLight" th:value="${dataEveryday.readLight}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">看手机时长(分钟)：</label>
                            <div class="col-sm-8">
                                <input id="lookPhoneDuration" name="lookPhoneDuration"
                                       th:value="${dataEveryday.lookPhoneDuration}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">看电脑电视时长(分钟）：</label>
                            <div class="col-sm-8">
                                <input id="lookTvComputerDuration" name="lookTvComputerDuration"
                                       th:value="${dataEveryday.lookTvComputerDuration}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">坐姿倾斜度：</label>
                            <div class="col-sm-8">
                                <input id="sitTilt" name="sitTilt" th:value="${dataEveryday.sitTilt}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">提醒次数：</label>
                            <div class="col-sm-8">
                                <input id="remind" name="remind" th:value="${dataEveryday.remind}" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开机时长（s）,计算时取最大：</label>
                            <div class="col-sm-8">
                                <input id="runningTime" name="runningTime" th:value="${dataEveryday.runningTime}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">有效时长（s）,累计，计算时取最大：</label>
                            <div class="col-sm-8">
                                <input id="effectiveTime" name="effectiveTime" th:value="${dataEveryday.effectiveTime}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">遮挡：</label>
                            <div class="col-sm-8">
                                <input id="coverTime" name="coverTime" th:value="${dataEveryday.coverTime}"
                                       class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">无效：</label>
                            <div class="col-sm-8">
                                <input id="noneffectiveTime" name="noneffectiveTime"
                                       th:value="${dataEveryday.noneffectiveTime}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/information/dataEveryday/edit.js">
</script>
</body>
</html>
