<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="information:useJianhuyiLog:add" type="button"
                                class="btn  btn-primary" onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="information:useJianhuyiLog:batchRemove" type="button"
                                class="btn  btn-danger"
                                onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>

                    <div class="columns pull-right">
                    <button class="btn btn-success" onclick="reLoad()">查询</button>
                </div>
                    <div class="columns pull-right">
                        <button class="btn btn-success" onclick="exportExcel(2)">导出</button>
                    </div>
                    <div class="columns pull-right col-md-1 nopadding">
                        <input id="endTime" type="text" class="form-control"
                               placeholder="结束时间">
                    </div>
                    <div class="columns pull-right col-md-1 nopadding">
                        <input id="startTime" type="text" class="form-control"
                               placeholder="开始时间">
                    </div>
                    <div class="columns pull-right col-md-1 nopadding">
                        <input id="uploadId" type="text" class="form-control"
                               placeholder="上传人id">
                    </div>
                    <div class="columns pull-right col-md-3 nopadding">
                        <select name="forIds" id="forIds" class="selectpicker form-control"
                                data-live-search="true">
                            <option style="text-align: center" value="">请选择用户</option>
                            <option th:each="li:${userList}"
                                    th:text="'id:' + ${li.id}  + '  &nbsp&nbsp&nbsp姓名：'+${li.name} +' &nbsp&nbsp&nbsp手机号：'+${li.phone} +' &nbsp&nbsp&nbsp学号：'+${li.studentNum}"
                                    th:value="${li.id}"></option>
                        </select>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
       var s_edit_h = 'hidden';
       var s_remove_h = 'hidden';
       var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="information:useJianhuyiLog:edit">
    <script type="text/javascript">
       s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="information:useJianhuyiLog:remove">
    <script type="text/javascript">
       var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="information:useJianhuyiLog:resetPwd">
    <script type="text/javascript">
       var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/information/useJianhuyiLog/useJianhuyiLog.js"></script>
<script type="text/javascript">
   laydate.render({
      elem: '#startTime',
      type: 'date'
   });
   laydate.render({
      elem: '#endTime',
      type: 'date'
   });

   function exportExcel(type) {
      //获取table的分页参数值
      var offset = $('#exampleTable').bootstrapTable('getOptions').pageNumber;
      var limit = ($('#exampleTable').bootstrapTable('getOptions').pageSize - 1) * offset;

      var userId = $('#forIds').val()
      var uploadId = $('#uploadId').val()
      var startTime = $('#startTime').val()
      var endTime = $('#endTime').val()

      data = 'limit=' + limit + '&offset=' + offset + '&userId =' + userId + '&uploadId=' + uploadId + '&startTime=' + startTime + '&endTime=' + endTime;
      var ids = new Array();
      if (type == 4) {
         var rows = $('#exampleTable').bootstrapTable('getSelections'); // 返回所有选择的行，当没有选择的记录时，返回一个空数组
         if (rows.length == 0) {
            layer.msg("请选择要导出的数据");
            return;
         }
         // 遍历所有选择的行数据，取每条数据对应的ID
         $.each(rows, function (i, row) {
            ids[i] = row['id'];
         });
      } else if (type == 2) {

      }

      //后端导出的方法
      document.location.href = "/information/useJianhuyiLog/exportExcel?type=" + type + "&" + data + "&ids=" + ids.join(",");
   }
</script>
</body>
</html>